{% extends 'constat_form/sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block style %}
<script src="/static/styles/js/chosen.js"></script>
<link rel="stylesheet" href="/static/styles/chosenstyle.css">
<style>
    @media screen and (max-width: 768px){
        input{
            display: inline-block!important;
        }
    }
</style>
{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="#">About Us</a>
<a href="#">Claims</a>
<a href="#">My account</a>
{% else %}{% if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="#">معلومات</a>
<a href="#">مطالب</a>
<a href="#">حسابي</a>
{% else %}{% if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="#">Informations</a>
<a href="#">Réclamations</a>
<a href="#">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">Circumstances</h1>
    </div>
    <form class="fifth-form" method="post" action="/addreport/24/{{lang}}">
            <div class="form-group">
                <h3>Vehicle A</h3>
                <select data-placeholder="Curcumstances of vehicle A" multiple class="form-control chosen-select" name="circumstances_a" id="circumstances_a">
                    <option value="1">parked/stopped</option>
                    <option value="2">leaving a parking place/opening the door</option>
                    <option value="3">entering a parking place</option>
                    <option value="4" >
                        emerging from a car park,from private ground,from a track</option>
                    <option value="5">entering a car park,private ground,a track</option>
                    <option value="6">entering a roundabout</option>
                    <option value="7">circulating a roundabout</option>
                    <option value="8" >
                        striking the rear of the other vehicle while going in the same direction and in the same lane</option>
                    <option value="9">going in the same direction but in a different lane</option>
                    <option value="10">changing lanes</option>
                    <option value="11">overtaking</option>
                    <option value="12">turning to the right</option>
                    <option value="13">turning to the left</option>
                    <option value="14">reversing</option>
                    <option value="15">
                        encroaching on a lane reserved for circulation in the opposite direction</option>
                    <option value="16">coming from the right (at road junctions)</option>
                    <option value="17">had not observed a right of way sign or red light</option>
                  </select>
            </div>
            <div class="form-group">
                <h3>Vehicle B</h3>
                <select data-placeholder="Curcumstances of vehicle B" multiple class="chosen-select" name="circumstances_b" id="circumstances_b">
                    <option value="1">parked/stopped</option>
                    <option value="2">leaving a parking place/opening the door</option>
                    <option value="3">entering a parking place</option>
                    <option value="4">
                        emerging from a car park,from private ground,from a track</option>
                    <option value="5">entering a car park,private ground,a track</option>
                    <option value="6">entering a roundabout</option>
                    <option value="7">circulating a roundabout</option>
                    <option value="8" >
                        striking the rear of the other vehicle while going in the same direction and in the same lane</option>
                    <option value="9">going in the same direction but in a different lane</option>
                    <option value="10">changing lanes</option>
                    <option value="11">overtaking</option>
                    <option value="12">turning to the right</option>
                    <option value="13">turning to the left</option>
                    <option value="14">reversing</option>
                    <option value="15" >
                        encroaching on a lane reserved for circulation in the opposite direction</option>
                    <option value="16">coming from the right (at road junctions)</option>
                    <option value="17">had not observed a right of way sign or red light</option>
                  </select>
            </div>
        <div class="row">
            <button type="submit" name="form123" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/22/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid">
    <div class="content">
        <h1 class="center-text"> ظروف الحادث</h1>
    </div>
    <form class="fifth-form" method="post" action="/addreport/24/{{lang}}">
        <div class="row">
            <div class="form-group col-12">
                <h3>السيارة أ</h3>
                <select data-placeholder="ظروف السيارة أ" multiple class="chosen-select" name="circumstances_a" id="circumstances_a">
                    <option value="1">متوقفة / متوقفة</option>
                    <option value="2">ترك مكان وقوف / فتح الباب</option>
                    <option value="3">دخول مكان وقوف السيارات</option>
                    <option value="4" >
                        الخروج من موقف للسيارات ، من أرض خاصة ، من مسار</option>
                    <option value="5">دخول موقف سيارات ، أرض خاصة ، مسار</option>
                    <option value="6">دخول دوار</option>
                    <option value="7">الدوران حول دوار</option>
                    <option value="8" >
                        الاصطدام بمؤخرة السيارة الأخرى أثناء السير في نفس الاتجاه وفي نفس المسار</option>
                    <option value="9">تسير في نفس الاتجاه ولكن في مسار مختلف</option>
                    <option value="10">تغيير المسارات</option>
                    <option value="11">التجاوز</option>
                    <option value="12">يتجه إلى اليمين</option>
                    <option value="13">يستدير إلى اليسار</option>
                    <option value="14">عكس</option>
                    <option value="15" >
                        التعدي على حارة مخصصة للتداول في الاتجاه المعاكس</option>
                    <option value="16">(القادمة من اليمين (عند تقاطعات الطرق</option>
                    <option value="17">لم يلتزم بإشارة حق المرور أو الضوء الأحمر</option>
                  </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <h3>السيارة ب</h3>
                <select data-placeholder="ظروف السيارة ب " multiple class="chosen-select" name="circumstances_b" id="circumstances_b">
                    <option value="1">متوقفة / متوقفة</option>
                    <option value="2">ترك مكان وقوف / فتح الباب</option>
                    <option value="3">دخول مكان وقوف السيارات</option>
                    <option value="4" >
                        الخروج من موقف للسيارات ، من أرض خاصة ، من مسار</option>
                    <option value="5">دخول موقف سيارات ، أرض خاصة ، مسار</option>
                    <option value="6">دخول دوار</option>
                    <option value="7">الدوران حول دوار</option>
                    <option value="8" >
                        الاصطدام بمؤخرة السيارة الأخرى أثناء السير في نفس الاتجاه وفي نفس المسار</option>
                    <option value="9">تسير في نفس الاتجاه ولكن في مسار مختلف</option>
                    <option value="10">تغيير المسارات</option>
                    <option value="11">التجاوز</option>
                    <option value="12">يتجه إلى اليمين</option>
                    <option value="13">يستدير إلى اليسار</option>
                    <option value="14">عكس</option>
                    <option value="15">
                        التعدي على حارة مخصصة للتداول في الاتجاه المعاكس</option>
                    <option value="16">(القادمة من اليمين (عند تقاطعات الطرق</option>
                    <option value="17">لم يلتزم بإشارة حق المرور أو الضوء الأحمر</option>
                  </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form123" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/22/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div class="content">
        <h1 class="center-text">Circonstances</h1>
    </div>
    <form class="fifth-form" method="post" action="/addreport/24/{{lang}}">
        <div class="row">
            <div class="form-group col-12">
                <h3>véhicule A</h3>
                <select data-placeholder="Circonstances du véhicule A" multiple class="chosen-select" name="circumstances_a" id="circumstances_a">
                    <option value="1">garé / arrêté</option>
                    <option value="2">quitter une place de parking / ouvrir la porte</option>
                    <option value="3">entrer dans une place de parking</option>
                    <option value="4" >
                        sortant d'un parking, d'un terrain privé, d'une piste</option>
                    <option value="5">entrée dans un parking, un terrain privé, une piste</option>
                    <option value="6">entrer dans un rond-point</option>
                    <option value="7">faire circuler un rond-point</option>
                    <option value="8" >
                        heurter l'arrière de l'autre véhicule en allant dans la même direction et dans la même voie</option>
                    <option value="9">aller dans la même direction mais dans une voie différente</option>
                    <option value="10">changer de voie</option>
                    <option value="11">dépassement</option>
                    <option value="12">tourner à droite</option>
                    <option value="13">tourner à gauche</option>
                    <option value="14">inverser</option>
                    <option value="15" >
                        empiétement sur une voie réservée à la circulation en sens inverse</option>
                    <option value="16">venant de la droite (aux carrefours routiers)</option>
                    <option value="17">n'avait pas observé de panneau de priorité ou de feu rouge</option>
                  </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <h3>vehicle B</h3>
                <select data-placeholder="Circonstances du véhicule B" multiple class="chosen-select" name="circumstances_b" id="circumstances_b">
                    <option value="1">garé / arrêté</option>
                    <option value="2">quitter une place de parking / ouvrir la porte</option>
                    <option value="3">entrer dans une place de parking</option>
                    <option value="4" >
                        sortant d'un parking, d'un terrain privé, d'une piste</option>
                    <option value="5">entrée dans un parking, un terrain privé, une piste</option>
                    <option value="6">entrer dans un rond-point</option>
                    <option value="7">faire circuler un rond-point</option>
                    <option value="8" >
                        heurter l'arrière de l'autre véhicule en allant dans la même direction et dans la même voie</option>
                    <option value="9">aller dans la même direction mais dans une voie différente</option>
                    <option value="10">changer de voie</option>
                    <option value="11">dépassement</option>
                    <option value="12">tourner à droite</option>
                    <option value="13">tourner à gauche</option>
                    <option value="14">inverser</option>
                    <option value="15" >
                        empiétement sur une voie réservée à la circulation en sens inverse</option>
                    <option value="16">venant de la droite (aux carrefours routiers)</option>
                    <option value="17">n'avait pas observé de panneau de priorité ou de feu rouge</option>
                  </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form123" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/22/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% endif %}
{% endif %}
{%endif%}
{%endblock%}
{% block scripts %}
<script>
    $(".chosen-select").chosen({
      no_results_text: "Oops, nothing found!"
    })
    </script>
{% endblock %}