{% extends 'constat_form/sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block style %}
<style>
    @media screen and (max-width: 768px){
        input{
            display: inline-block!important;
        }
    }
</style>
{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="#">About Us</a>
<a href="#">Claims</a>
<a href="#">My account</a>
{% else %}{% if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="#">معلومات</a>
<a href="#">مطالب</a>
<a href="#">حسابي</a>
{% else %}{% if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="#">Informations</a>
<a href="#">Réclamations</a>
<a href="#">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">My observations (vehicle A)</h1>
    </div>
    <form class="fifth-form" method="post" action="/addreport/15/{{lang}}">
        <div class="form-group">
            <textarea class="form-control" id="obs" name="obs" rows="5" placeholder="any observations ?"></textarea>
          </div>
        <div class="row">
            <button type="submit" name="form114" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/13/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid">
    <div class="content">
        <h1 class="center-text">(ملاحظاتي (السيارة أ</h1>
    </div>
    <form class="fifth-form" method="post" action="/addreport/15/{{lang}}">
        <div class="form-group">
            <textarea class="form-control" id="obs" name="obs" rows="5" placeholder="أي ملاحظات؟"></textarea>
          </div>
        <div class="row">
            <button type="submit" name="form114" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/13/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div class="content">
        <h1 class="center-text">Mes observations (véhicule A)</h1>
    </div>
    <form class="fifth-form" method="post" action="/addreport/15/{{lang}}">
        <div class="form-group">
            <textarea class="form-control" id="obs" name="obs" rows="5" placeholder="des observations?"></textarea>
          </div>
        <div class="row">
            <button type="submit" name="form114" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/13/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% endif %}
{% endif %}
{%endif%}
{%endblock%}
{% block scripts %}
{% endblock %}