{% extends 'constat_form/sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="#">About Us</a>
<a href="#">Claims</a>
<a href="#">My account</a>
{% else %}{%if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="#">معلومات</a>
<a href="#">مطالب</a>
<a href="#">حسابي</a>
{% else %}{%if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="#">Informations</a>
<a href="#">Réclamations</a>
<a href="#">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">Location of the accident</h1>
    </div>
    <form class="first_form" method="post" action="/addreport/4/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="country" id="country"
                       placeholder="Country">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="city" id="city"
                       placeholder="city">
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="street" id="street"
                       placeholder="street">
            </div>
        </div>
            
        <div class="row">
            <button type="submit" name="form103" class="btn btn-primary col-2">next!</button>
            <!--                    <a href="/signup/2/{{lang}}" class="btn btn-primary form-btn col-2">Go!</a>-->
        </div>
    </form>
    <div class="back"><a href="/addreport/2/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid">
    <div class="content">
        <h1 class="center-text">موقع الحادث</h1>
    </div>
    <form class="first_form" method="post" action="/addreport/4/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="country" id="country"
                       placeholder="البلد">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="city" id="city"
                       placeholder="المدينة">
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="street" id="street"
                       placeholder="الشارع">
            </div>
        </div>
            
        <div class="row">
            <button type="submit" name="form103" class="btn btn-primary col-2">next!</button>
            <!--                    <a href="/signup/2/{{lang}}" class="btn btn-primary form-btn col-2">Go!</a>-->
        </div>
    </form>
    <div class="back"><a href="/addreport/2/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div class="content">
        <h1 class="center-text">Localisation</h1>
    </div>
    <form class="first_form" method="post" action="/addreport/4/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="country" id="country"
                       placeholder="Pays">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="city" id="city"
                       placeholder="ville">
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="street" id="street"
                       placeholder="rue">
            </div>
        </div>
            
        <div class="row">
            <button type="submit" name="form103" class="btn btn-primary col-2">next!</button>
            <!--                    <a href="/signup/2/{{lang}}" class="btn btn-primary form-btn col-2">Go!</a>-->
        </div>
    </form>
    <div class="back"><a href="/addreport/2/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% endif %}
{% endif %}
{%endif%}
{%endblock%}