{% extends 'base.html' %}
{% block title %}arabe home{% endblock %}
{% block sidenav %}
    <a href="/home/arabe">الرئيسية</a>
    <a href="/about/arabe">معلومات</a>
<!--    <a href="#">مطالب</a>-->
    <a href="/login/arabe">حسابي</a>
    <a href="/voiture/1/arabe" class="insurence-btn">تأمين سيارات</a>
    <a href="/vie" class="insurence-btn">تأمين حياة</a>
{% endblock %}
{% block style %}
<style>
    .container-fluid{
        padding-top: 50px;
    }
    .navbar a{
        font-size: 2.7vh;
    }
    #line1,#line2{
        transition: all ease-in-out 0.4s;
    }
</style>
{% endblock %}
{% block lang %}Ar{% endblock %}
{% block navbarli %}
<li >
    <a class="arab" href="/home/arabe">الرئيسية</a>
</li>
<li >
    <a class="arab" href="/about/arabe">معلومات </a>
</li>
<li>
    <a href="/addreport/1/arabe">محضر</a>
</li>
<!--<li >-->
<!--    <a class="arab" href="#">مطالب</a>-->
<!--</li>-->
<li class="pull-right">
    <a href="/login/arabe">حسابي</a>
</li>
<li class="pull-right">
    <!--            <a href="#">Ar <i class="tunisia flag"></i></a>-->
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ar
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/home/arabe">Ar</a>
            <a class="dropdown-item" href="/home/french">Fr</a>
            <a class="dropdown-item" href="/home/english">Eng</a>
        </div>
    </div>
</li>
<li class="pull-right">
    <a href="/voiture/1/arabe" onclick="callimg(this.innerHTML.replace('تأمين ', ''),event)" class="insurence-btn">تأمين سيارات</a>
</li>
<li class="pull-right">
    <a href="/vie" onclick="callimg(this.innerHTML.replace('تأمين ', ''),event)" class="insurence-btn">تأمين حياة</a>
</li>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <h1 id="line1">أمّن دارك واطمان على صغارك </h1>
    <p id="line2">بقلب كبير وبثمن صغير أمن دارك في وقت قصير </p>
    <a id="target" href="/signup/1/{{ lang }}">
        <button class="btn btn-primary">خوذ فكرة على السوم</button>
    </a>
    <br>
    <img id="fixcar" src="/static/images/fixcar.png" style="width: 200px;position: inherit" alt="">
    <img id="fixhome" src="/static/images/fixhome.png" style="width: 200px;position: inherit" alt="">
    <img id="fixlife" src="/static/images/fixlife.png" style="width: 200px" alt="">
</div>
{% endblock %}
{% block scripts %}
<script>
    var outbutton = ['منزل', '/signup/1/{{lang}}']
    function callimg(id,ev) {
        ev.preventDefault();
        out = document.activeElement.innerHTML.replace('تأمين ', '');
        href = document.activeElement.getAttribute('href');
        console.log(out, href);
        document.activeElement.innerHTML='تأمين '+outbutton[0];
        document.activeElement.setAttribute('href', outbutton[1])
        document.getElementById('target').setAttribute('href', href)
        outbutton[0]=out;
        outbutton[1]=href;
        console.log(outbutton)
        if (id == 'سيارات'){
            document.getElementById('fixcar').style.transform = "translateY(-50px)";
            document.getElementById('fixhome').style.transform = "translateY(200px)";
            document.getElementById('fixlife').style.transform = "translateY(200px)";
            document.getElementById('fixhome').style.opacity = "0";
            document.getElementById('fixlife').style.opacity = "0";
            document.getElementById('fixcar').style.opacity = "1";
            document.getElementById('line1').style.opacity = "0";
            document.getElementById('line2').style.opacity = "0";
            setTimeout(function () {
                document.getElementById('line1').innerHTML = "امن كرهبتك و اطمان و اقصد طريق الأمان";
                document.getElementById('line2').innerHTML = "بقلب كبير وبثمن صغير أمن كرهبتك في وقت قصير ";
                document.getElementById('line1').style.opacity = "1";
                document.getElementById('line2').style.opacity = "1";
            },400)
        }
        else if (id == 'حياة'){
            document.getElementById('fixlife').style.transform = "translateY(-50px)";
            document.getElementById('fixhome').style.transform = "translateY(200px)";
            document.getElementById('fixcar').style.transform = "translateY(200px)";
            document.getElementById('fixhome').style.opacity = "0";
            document.getElementById('fixcar').style.opacity = "0";
            document.getElementById('fixlife').style.opacity = "1";
            document.getElementById('line1').style.opacity = "0";
            document.getElementById('line2').style.opacity = "0";
            setTimeout(function () {
                document.getElementById('line1').innerHTML = "امن حياتك و اتهنى على مستقبلك و مستقبل صغارك";
                document.getElementById('line2').innerHTML = "بقلب كبير وبثمن صغير أمن حياتك في وقت قصير ";
                document.getElementById('line1').style.opacity = "1";
                document.getElementById('line2').style.opacity = "1";
            },400)
        }
        else {
            document.getElementById('fixhome').style.transform = "translateY(-50px)";
            document.getElementById('fixcar').style.transform = "translateY(200px)";
            document.getElementById('fixlife').style.transform = "translateY(200px)";
            document.getElementById('fixcar').style.opacity = "0";
            document.getElementById('fixlife').style.opacity = "0";
            document.getElementById('fixhome').style.opacity = "1";
            document.getElementById('line1').style.opacity = "0";
            document.getElementById('line2').style.opacity = "0";
            setTimeout(function () {
                document.getElementById('line1').innerHTML = "أمّن دارك واطمان على صغارك";
                document.getElementById('line2').innerHTML = "بقلب كبير وبثمن صغير أمن دارك في وقت قصير ";
                document.getElementById('line1').style.opacity = "1";
                document.getElementById('line2').style.opacity = "1";
            },400)
        }
    }
</script>
{% endblock %}

