{% extends 'base.html' %}

{% block title %}english home{% endblock %}
{% block sidenav %}
    <a href="/home/english">Home</a>
    <a href="/about/english">About Us</a>
<!--    <a href="#">Claims</a>-->
    <a href="/login/english">My account</a>
    <a href="/voiture/1/english" class="insurence-btn">Auto Insurance</a>
    <a href="/vie" class="insurence-btn">Life Insurance</a>
{% endblock %}
{% block style %}
<style>
    .container-fluid{
        padding-top: 50px;
    }
</style>
{% endblock %}
{% block lang %}Eng{% endblock %}
{% block navbarli %}
    <li>
        <a href="/home/english">Home</a>
    </li>
    <li>
        <a href="/about/english">About Us </a>
    </li>
<!--    <li>-->
<!--        <a href="#">Claims</a>-->
<!--    </li>-->
    <li>
        <a href="/addreport/1/english">Car Report</a>
    </li>
    <li class="pull-right">
        <a href="/login/english">My account</a>
    </li>
    <li class="pull-right">
        <!--            <a href="#">Ar <i class="tunisia flag"></i></a>-->
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eng
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/home/arabe">Ar</a>
                <a class="dropdown-item" href="/home/french">Fr</a>
                <a class="dropdown-item" href="/home/english">Eng</a>
            </div>
        </div>
    </li>
    <li class="pull-right">
        <a href="/voiture/1/english" class="insurence-btn">Auto Insurance</a>
    </li>
    <li class="pull-right">
        <a href="/vie" class="insurence-btn">Life Insurance</a>
    </li>

{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1>Forget Everything You </h1>
		<h1>Know About Insurance </h1>
        <p>Instant everything. No brainer prices. Big heart. </p>
        <a href="/signup/1/{{ lang }}">
            <button class="btn btn-primary">Check our prices</button>
        </a>
    </div>
{% endblock %}