{% extends 'base.html' %}
{% block title %}english home{% endblock %}
{% block sidenav %}
    <a href="/home/english">Home</a>
    <a href="/about/english">About Us</a>
    <a href="/addreport/1/english">Car Report</a>
    <a href="/login/english">My account</a>
    <a href="/voiture/1/english" class="insurence-btn">Auto Insurance</a>
    <a href="/vie/?lang=fr" class="insurence-btn">Life Insurance</a>
{% endblock %}
{% block style %}
<style>
    .container-fluid{
        padding-top: 50px;
    }
    #line1,#line2{
        transition: all ease-in-out 0.4s;
    }
</style>
{% endblock %}
{% block lang %}Eng{% endblock %}
{% block navbarli %}
    <li>
        <a href="/home/english">Home</a>
    </li>
    <li>
        <a href="/about/english">About Us </a>
    </li>
<!--    <li>-->
<!--           <a href="#">Claims</a>-->
<!--    </li>-->
    <li>
        <a href="/addreport/1/english">Car Report</a>
    </li>
    <li class="pull-right">
        <a href="/login/english">My account</a>
    </li>
    <li class="pull-right">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eng
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/home/arabe">Ar</a>
                <a class="dropdown-item" href="/home/french">Fr</a>
                <a class="dropdown-item" href="/home/english">Eng</a>
            </div>
        </div>
    </li>
    <li class="pull-right">
        <a href="/voiture/1/english" onclick="callimg(this.innerHTML.replace('Insurance', ''),event)" class="insurence-btn">Auto Insurance</a>
    </li>
    <li class="pull-right">
        <a href="/vie/?lang=en" onclick="callimg(this.innerHTML.replace('Insurance', ''),event)" class="insurence-btn">Life Insurance</a>
    </li>

{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1 id="line1">Forget Everything You Know About House Insurance </h1>
        <p id="line2">Instant everything. No brainer prices. Big heart. </p>
        <a id="target" href="/signup/1/{{ lang }}" >
            <button class="btn btn-primary">Check our prices</button>
        </a>
        <br>
        <img id="fixcar" src="/static/images/fixcar.png" style="width: 200px;position: inherit" alt="">
        <img id="fixhome" src="/static/images/fixhome.png" style="width: 200px;position: inherit" alt="">
        <img id="fixlife" src="/static/images/fixlife.png" style="width: 200px" alt="">
    </div>
{% endblock %}
{% block scripts %}
<script>
    var outbutton = ['Home ', '/signup/1/{{lang}}']
    function callimg(id,ev) {
        ev.preventDefault();
        out = document.activeElement.innerHTML.replace('Insurance', '');
        href = document.activeElement.getAttribute('href');
        console.log(out, href);
        document.activeElement.innerHTML=outbutton[0]+'Insurance';
        document.activeElement.setAttribute('href', outbutton[1])
        document.getElementById('target').setAttribute('href', href)
        outbutton[0]=out;
        outbutton[1]=href;
        console.log(outbutton)
        if (id == 'Auto '){
            document.getElementById('fixcar').style.transform = "translateY(-50px)";
            document.getElementById('fixhome').style.transform = "translateY(200px)";
            document.getElementById('fixlife').style.transform = "translateY(200px)";
            document.getElementById('fixhome').style.opacity = "0";
            document.getElementById('fixlife').style.opacity = "0";
            document.getElementById('fixcar').style.opacity = "1";
            document.getElementById('line1').style.opacity = "0";
            document.getElementById('line2').style.opacity = "0";
            setTimeout(function () {
                document.getElementById('line1').innerHTML = "Get The Best Auto Insurance Coverages For Your Need ";
                document.getElementById('line1').style.opacity = "1";
                document.getElementById('line2').style.opacity = "1";
            },400)
        }
        else if (id == 'Life '){
            document.getElementById('fixlife').style.transform = "translateY(-50px)";
            document.getElementById('fixhome').style.transform = "translateY(200px)";
            document.getElementById('fixcar').style.transform = "translateY(200px)";
            document.getElementById('fixhome').style.opacity = "0";
            document.getElementById('fixcar').style.opacity = "0";
            document.getElementById('fixlife').style.opacity = "1";
            document.getElementById('line1').style.opacity = "0";
            document.getElementById('line2').style.opacity = "0";
            setTimeout(function () {
                document.getElementById('line1').innerHTML = "Low-cost health insurance plans that protect what matters most";
                document.getElementById('line1').style.opacity = "1";
                document.getElementById('line2').style.opacity = "1";
            },400)
        }
        else {
            document.getElementById('fixhome').style.transform = "translateY(-50px)";
            document.getElementById('fixcar').style.transform = "translateY(200px)";
            document.getElementById('fixlife').style.transform = "translateY(200px)";
            document.getElementById('fixcar').style.opacity = "0";
            document.getElementById('fixlife').style.opacity = "0";
            document.getElementById('fixhome').style.opacity = "1";
            document.getElementById('line1').style.opacity = "0";
            document.getElementById('line2').style.opacity = "0";
            setTimeout(function () {
                document.getElementById('line1').innerHTML = "Forget Everything You Know About House Insurance";
                document.getElementById('line1').style.opacity = "1";
                document.getElementById('line2').style.opacity = "1";
            },400)
        }
    }
</script>
{% endblock %}