{% extends 'base.html' %}
{% block title %}french home{% endblock %}
{% block sidenav %}
    <a href="/home/french">Acceuil</a>
    <a href="/about/french">Informations</a>
<!--    <a href="#">Réclamations</a>-->
    <a href="/login/french">Mon compte</a>
    <a href="/voiture/1/french" class="insurence-btn">Assurence Auto</a>
    <a href="/vie/?lang=fr" class="insurence-btn">Assurence Vie</a>
{% endblock %}
{% block style %}
<style>
    .container-fluid{
        padding-top: 50px;
    }
    #line1,#line2{
        transition: all ease-in-out 0.4s;
    }
</style>
{% endblock %}
{% block lang %}Fr{% endblock %}
{% block navbarli %}
    <li >
        <a  href="/home/french">Acceuil</a>
    </li>
    <li >
        <a  href="/about/french">Informations</a>
    </li>
<!--    <li >-->
<!--        <a  href="#">Réclamations</a>-->
<!--    </li>-->
    <li >
        <a  href="/addreport/1/french">Constat</a>
    </li>
    <li class="pull-right">
        <a href="/login/french">Mon compte</a>
    </li>
    <li class="pull-right">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fr
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/home/arabe">Ar</a>
                <a class="dropdown-item" href="/home/french">Fr</a>
                <a class="dropdown-item" href="/home/english">Eng</a>
            </div>
        </div>
    </li>
    <li class="pull-right">
        <a href="/voiture/1/french" onclick="callimg(this.innerHTML.replace('Assurence ', ''),event)" class="insurence-btn">Assurence Auto</a>
    </li>
    <li class="pull-right">
        <a href="/vie/?lang=fr" onclick="callimg(this.innerHTML.replace('Assurence ', ''),event)" class="insurence-btn">Assurence Vie</a>
    </li>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1 id="line1">Rassurez vous et soyez sécurisés </h1>
        <p id="line2"> Grand Coeur, Prix Imbattable, Courte Durée</p>
        <a id="target" href="/signup/1/french">
            <button class="btn btn-primary">calculer votre prix</button>
        </a>
        <br>
        <img id="fixcar" src="/static/images/fixcar.png" style="width: 200px;position: inherit" alt="">
        <img id="fixhome" src="/static/images/fixhome.png" style="width: 200px;position: inherit" alt="">
        <img id="fixlife" src="/static/images/fixlife.png" style="width: 200px" alt="">
    </div>
{% endblock %}
{% block scripts %}
<script>
    var outbutton = ['Maison', '/signup/1/{{lang}}']
    function callimg(id,ev) {
        ev.preventDefault();
        out = document.activeElement.innerHTML.replace('Assurence ', '');
        href = document.activeElement.getAttribute('href');
        console.log(out, href);
        document.activeElement.innerHTML='Assurence ' + outbutton[0];
        document.activeElement.setAttribute('href', outbutton[1])
        document.getElementById('target').setAttribute('href', href)
        outbutton[0]=out;
        outbutton[1]=href;
        console.log(outbutton)
        //Une Assurance Auto innovante        sur-mesure
        if (id == 'Auto'){
            document.getElementById('fixcar').style.transform = "translateY(-50px)";
            document.getElementById('fixhome').style.transform = "translateY(200px)";
            document.getElementById('fixlife').style.transform = "translateY(200px)";
            document.getElementById('fixhome').style.opacity = "0";
            document.getElementById('fixlife').style.opacity = "0";
            document.getElementById('fixcar').style.opacity = "1";
            document.getElementById('line1').style.opacity = "0";
            document.getElementById('line2').style.opacity = "0";
            setTimeout(function () {
                document.getElementById('line1').innerHTML = "Une Assurance Auto innovante sur-mesure";
                document.getElementById('line1').style.opacity = "1";
                document.getElementById('line2').style.opacity = "1";
            },400)
        }
        //on rend l'assurance vie accessible à tous
        else if (id == 'Vie'){
            document.getElementById('fixlife').style.transform = "translateY(-50px)";
            document.getElementById('fixhome').style.transform = "translateY(200px)";
            document.getElementById('fixcar').style.transform = "translateY(200px)";
            document.getElementById('fixhome').style.opacity = "0";
            document.getElementById('fixcar').style.opacity = "0";
            document.getElementById('fixlife').style.opacity = "1";
            document.getElementById('line1').style.opacity = "0";
            document.getElementById('line2').style.opacity = "0";
            setTimeout(function () {
                document.getElementById('line1').innerHTML = "On Rend L'assurance Vie Accessible à Tous";
                document.getElementById('line1').style.opacity = "1";
                document.getElementById('line2').style.opacity = "1";
            },400)
        }
        else {
            document.getElementById('fixhome').style.transform = "translateY(-50px)";
            document.getElementById('fixcar').style.transform = "translateY(200px)";
            document.getElementById('fixlife').style.transform = "translateY(200px)";
            document.getElementById('fixcar').style.opacity = "0";
            document.getElementById('fixlife').style.opacity = "0";
            document.getElementById('fixhome').style.opacity = "1";
            document.getElementById('line1').style.opacity = "0";
            document.getElementById('line2').style.opacity = "0";
            setTimeout(function () {
                document.getElementById('line1').innerHTML = "Rassurez vous et soyez sécurisés";
                document.getElementById('line1').style.opacity = "1";
                document.getElementById('line2').style.opacity = "1";
            },400)
        }
    }
</script>
{% endblock %}