{% extends 'sign.html' %}
{% block title %}Confirm{% endblock %}
{% block span %}{% endblock %}
{% block body %}
{% if confirmed is sameas false %}
<div class="arab container-fluid">
    <div class="message" style="
        padding: 50px;
        border: 1px solid #ff17447d;
        border-radius: 5px;
        box-shadow: 0 0 50px 0px #ff80a545;
        text-align: center;">
        <h1>{{error}}</h1>
    </div>
</div>
{% else %}{% if confirmed is sameas true %}
<div class="arab container-fluid">
    <div class="message" style="
        padding: 50px;
        border: 1px solid #ff17447d;
        border-radius: 5px;
        box-shadow: 0 0 50px 0px #ff80a545;
        text-align: center;">
        <h1>{{success}}</h1>
        {% if lang != "arabe" %}
        <a href="/signup/13/{{lang}}" class="btn btn-primary">continue</a>
        {% else %}{% if lang == "arabe" %}
        <a href="/signup/13/{{lang}}" class="btn btn-primary">متابعة</a>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}
{% block style %}
<style>
    .btn-primary{
        margin: unset!important;
        margin-top: 15px!important;
    }
</style>
{% endblock %}
