{% extends '/constat_form/sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block style %}
<style>
    @media screen and (max-width: 768px){
        input{
            display: inline-block!important;
        }
    }
    .pop_pres button[type='submit']{
     position:none !important;
     bottom:none !important; 
     right:none !important; 
     width:none !important; 
     padding:none !important; 
     background-color:none!important; 
     color:none!important;
}
</style>
{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="/about/{{ lang }}">About Us</a>
<!-- <a href="#">Claims</a> -->
<a href="/login/{{ lang }}">My account</a>
{% else %}{% if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="/about/{{ lang }}">معلومات</a>
<!-- <a href="#">مطالب</a> -->
<a href="/login/{{ lang }}">حسابي</a>
{% else %}{% if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="/about/{{ lang }}">Informations</a>
<!-- <a href="#">Réclamations</a> -->
<a href="/login/{{lang }}">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <!-- style="display: block;
            margin-left: auto;
            margin-right: auto; width: 20%;" -->
            <h1 class="center-text" style="margin-bottom: 0cm;margin-top: 0cm;">Vehicle A</h1>
            <img id="carimg"   src="/static/images/car - Copie.png" alt="car">               
    </div>

    <form class="first_form" method="post" action="/addreport/9/{{lang}}">
        <div class="row">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typev" id="normalv" value="normalv" checked>
                <label class="form-check-label" for="normalv">
                  Normal vehicle
                </label>
              </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typev" id="trailer" value="trailer">
                <label class="form-check-label" for="trailer">
                    Trailer
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="brand" id="brand"
                       placeholder="Vehicule brand">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
            <select class="form-control"  id="typeim" name="typeim">
              <option value="tunis" selected>tunis</option>
              <option value="NT">Nt</option>
              <option value="other">other</option>
            </select>
        </div>
        </div>
        <div class="row" id="mat">
            <div class='form-group col-5'>
                <input type='text' class='form-control' name='matricule_s' id='matricule_s'
                       placeholder='series number'>
            </div>
            <div class='form-group col-2' style='text-align: center;'>tunis</div>
                
            <div class='form-group col-5'>
                <input type='text' class='form-control' name='matricule' id='matricule'
                placeholder='Registration number'>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type='text' class='form-control' name='countryv' id='countryv'
                        placeholder='Country of registration number' value='tunisia' style="display: none;">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form108" class="btn btn-primary col-2">Next!</button>
            <!--                    <a href="/signup/2/{{lang}}" class="btn btn-primary form-btn col-2">Go!</a>-->
        </div>
    </form>
    <div class="back"><a href="/addreport/7/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
<div class="pop_pres" style="display: flex;height: 890px;">
    <form action="/addreport/9/{{lang}}" method="post">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="content">
            <h4 style="margin-top: 30px;font-size: 1rem">vehicle A already insured ? if yes choose it !</h4>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <select class="form-control" id="cars" name="cars">
                    {%for vehicle in vehicles%}
                    <option value="{{ vehicle._id}}">{{ vehicle.marq_model}}</option>
                    {% endfor %}
                </select>
              </div>
        </div>
        <div class="row">
        <div class="form-group col-6">
            <button type="button" id="closer"  class="btn btn-danger">no</button>
        </div>
        <div class="form-group col-6">
            <button type="submit" name="form108b" class="btn" style="
                position:unset;
                bottom:auto;
                right:auto;
                width:auto;
                padding: .375rem .75rem;
                background-color: green;
                color: white;
                " >confirm</button>
            </div>
        </div>
        
    </div>

<!--        <button type="submit" name="code_form" class="btn">Send</button>-->
</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid">
    <div class="content">
            <h1 class="center-text" style="margin-bottom: 0cm;margin-top: 0cm;">السيارة أ</h1>
            <img id="carimg"   src="/static/images/car - Copie.png" alt="car">          
    </div>

    <form class="first_form" method="post" action="/addreport/9/{{lang}}">
        <div class="row">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typev" id="normalv" value="normalv" checked>
                <label class="form-check-label" for="normalv">
                    سيارة عادية 
                </label>
              </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typev" id="trailer" value="trailer">
                <label class="form-check-label" for="trailer">
                    عربة مقطورة
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="brand" id="brand"
                       placeholder="(ماركة السيارة (اختيارية إذا كانت المقطورة">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
            <select class="form-control"  id="typeim" name="typeim">
              <option value="tunis" selected>تونس</option>
              <option value="NT">نت</option>
              <option value="other">آخر</option>
            </select>
        </div>
        </div>
        <div class="row" id="mat">
            <div class='form-group col-5'>
                <input type='text' class='form-control' name='matricule_s' id='matricule_s'
                       placeholder='رقم سري'>
            </div>
            <div class='form-group col-2' style='text-align: center;'>
                تونس
            </div>
                
            <div class='form-group col-5'>
                <input type='text' class='form-control' name='matricule' id='matricule'
                placeholder="رقم التسجيل">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="countryv" id="countryv"
                        placeholder="بلد رقم التسجيل" value='تونس' style="display: none;">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form108" class="btn btn-primary col-2">Next!</button>
            <!--                    <a href="/signup/2/{{lang}}" class="btn btn-primary form-btn col-2">Go!</a>-->
        </div>
    </form>
    <div class="back"><a href="/addreport/7/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
<div class="pop_pres" style="display: flex;height: 890px;">
    <form action="/addreport/9/{{lang}}" method="post">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="content">
            <h4 style="margin-top: 30px;font-size: 1rem">السيارة أ مؤمنة ؟ إذا كانت الإجابة بنعم ، فاخترها</h4>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <select class="form-control" id="cars" name="cars">
                    {%for vehicle in vehicles%}
                    <option value="{{vehicle._id}}">{{ vehicle.marq_model}}</option>
                    {% endfor %}
                </select>
              </div>
        </div>
        <div class="row">
        <div class="form-group col-6">
            <button type="button" id="closer"  class="btn btn-danger">no</button>
        </div>
        <div class="form-group col-6">
            <button type="submit" name="form108b" class="btn" style="
                position:unset;
                bottom:auto;
                right:auto;
                width:auto;
                padding: .375rem .75rem;
                background-color: green;
                color: white;
                " >confirm</button>
            </div>
        </div>     
    </div>
</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div class="content">
            <h1 class="center-text" style="margin-bottom: 0cm;margin-top: 0cm;">Véhicule A</h1>
            <img id="carimg"   src="/static/images/car - Copie.png" alt="car">          
    </div>

    <form class="first_form" method="post" action="/addreport/9/{{lang}}">
        <div class="row">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typev" id="normalv" value="normalv" checked>
                <label class="form-check-label" for="normalv">
                  à moteur
                </label>
              </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="typev" id="trailer" value="trailer">
                <label class="form-check-label" for="trailer">
                    Remorque
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="brand" id="brand"
                       placeholder="Marque,type du véhicule (optionnelle si remorque)">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
            <select class="form-control"  id="typeim" name="typeim">
              <option value="tunis" selected>tunis</option>
              <option value="NT">Nt</option>
              <option value="other">autre</option>
            </select>
        </div>
        </div>
        <div class="row" id="mat">
            <div class='form-group col-5'>
                <input type='text' class='form-control' name='matricule_s' id='matricule_s'
                       placeholder='numéro de série'>
            </div>
            <div class='form-group col-2' style='text-align: center;'>tunis</div>
                
            <div class='form-group col-5'>
                <input type='text' class='form-control' name='matricule' id='matricule'
                placeholder="Numéro d'enregistrement">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="countryv" id="countryv"
                        placeholder="Pays d'immatriculation" value='tunisie' style="display: none;">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form108" class="btn btn-primary col-2">Next!</button>
            <!--                    <a href="/signup/2/{{lang}}" class="btn btn-primary form-btn col-2">Go!</a>-->
        </div>
    </form>
    <div class="back"><a href="/addreport/7/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
<div class="pop_pres" style="display: flex;height: 890px;">
    <form action="/addreport/9/{{lang}}" method="post">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="content">
            <h4 style="margin-top: 30px;font-size: 1rem">véhicule A déja assuré ? si oui selectionner le !</h4>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <select class="form-control" id="cars" name="cars">
                    {%for vehicle in vehicles%}
                    <option value="{{ vehicle._id}}">{{ vehicle.marq_model}}</option>
                    {% endfor %}
                </select>
              </div>
        </div>
        <div class="row">
        <div class="form-group col-6">
            <button type="button" id="closer"  class="btn btn-danger">no</button>
        </div>
        <div class="form-group col-6">
            <button type="submit" name="form108b" class="btn" style="
                position:unset;
                bottom:auto;
                right:auto;
                width:auto;
                padding: .375rem .75rem;
                background-color: green;
                color: white;
                " >confirm</button>
            </div>
        </div>
        
    </div>

<!--        <button type="submit" name="code_form" class="btn">Send</button>-->
</div>
{% endif %}
{% endif %}
{%endif%}
{%endblock%}
{% block scripts %}
<script>
    $('.pop_pres .close').on('click', function () {
        $('.pop_pres').css('display', 'none')
    })
    $('#closer').on('click', function () {
        $('.pop_pres').css('display', 'none')
    })
</script>
<script>
    $(document).ready(function(){
        $("input").change(function(){
            // Change src attribute of image
            $( "img[alt='car']" ).attr("src", "/static/images/car.png");
        });  
        $('#trailer').click(function(){
            $('#brand').attr("style","display:none;");
        });
        $('#normalv').click(function(){
            $('#brand').attr("style","display:");
        });
    });
</script>

{% if lang == "english" %}
<script>
$('#typeim').change(function(){
    if((this.value)=="NT"){
        $('#countryv').hide();
        $('#mat').html("<div class='form-group col-12'><input type='text' class='form-control' name='matricule' id='matricule' placeholder='Registration number'> </div>");
    }
    else if((this.value)=="tunis"){
        $('#countryv').hide();
        $('#mat').html("<div class='form-group col-5'><input type='text' class='form-control' name='matricule_s' id='matricule_s' placeholder='series number'></div><div class='form-group col-2' style='text-align: center;'>tunis</div><div class='form-group col-5'><input type='text' class='form-control' name='matricule' id='matricule' placeholder='Registration number'></div>");
    }
    else{
        $('#countryv').show();
        $('#countryv').val('');
        $('#mat').html("<div class='form-group col-12'><input type='text' class='form-control' name='matricule' id='matricule' placeholder='Registration number'> </div>");     
    }
});    
</script>
{% endif %}
{% if lang =="arabe" %}
<script>
$('#typeim').change(function(){
    if((this.value)=="NT"){
        $('#countryv').hide();
        $('#mat').html("<div class='form-group col-12'><input type='text' class='form-control' name='matricule' id='matricule' placeholder='رقم التسجيل'> </div>");
    }
    else if((this.value)=="tunis"){
        $('#countryv').hide();
        $('#mat').html("<div class='form-group col-5'><input type='text' class='form-control' name='matricule_s' id='matricule_s' placeholder='رقم '></div><div class='form-group col-2' style='text-align: center;'>تونس</div><div class='form-group col-5'><input type='text' class='form-control' name='matricule' id='matricule' placeholder='رقم التسجيل'></div>");
    }
    else{
        $('#countryv').show();
        $('#countryv').val('');
        $('#mat').html("<div class='form-group col-12'><input type='text' class='form-control' name='matricule' id='matricule' placeholder='رقم التسجيل'> </div>");     
    }
});  
    </script>
{% endif %}
{% if lang=="french" %}
<script>
    $('#typeim').change(function(){
        if((this.value)=="NT"){
            $('#countryv').hide();
            $('#mat').html("<div class='form-group col-12'><input type='text' class='form-control' name='matricule' id='matricule' placeholder='n° d&#39immatriculation'> </div>");
        }
        else if((this.value)=="tunis"){
            $('#countryv').hide();
            $('#mat').html("<div class='form-group col-5'><input type='text' class='form-control' name='matricule_s' id='matricule_s' placeholder='numéro de série'></div><div class='form-group col-2' style='text-align: center;'>tunis</div><div class='form-group col-5'><input type='text' class='form-control' name='matricule' id='matricule' placeholder='Numéro d&#39enregistrement'></div>");
        }
        else{
            $('#countryv').show();
            $('#countryv').val('');
            $('#mat').html("<div class='form-group col-12'><input type='text' class='form-control' name='matricule' id='matricule' placeholder='n° d&#39immatriculation'> </div>");
        }
    });    
    </script>
{% endif %}
{% endblock %}