{% extends "/constat_form/sign.html" %}
{% block title %} add report {% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-danger">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">Date and hour of the accident!</h1>
    </div>
    <form class="first_form" method="post" action="/addreport/3/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="date" id="date" 
                       placeholder="Accident date" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
            <input type="time" class="form-control" name="time" id="time"
                   placeholder="Time of accident">
        </div>
        </div>
        <div class="row">
            <button type="submit" name="form102" class="btn btn-primary col-2">Next!</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/1/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid">
    <div class="content">
        <h1 class="center-text">!تاريخ و وقت الحادث</h1>
    </div>
    <form class="first_form" method="post" action="/addreport/3/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="date" id="date" 
                       placeholder="dd/mm/yyyy" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
            <input type="time" class="form-control" name="time" id="time"
                   placeholder="Time of accident">
        </div>
        </div>
        <div class="row">
            <button type="submit" name="form102" class="btn btn-primary col-2">التالي</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/1/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div class="content">
        <h1 class="center-text">date et heure de l'accident!</h1>
    </div>
    <form class="first_form" method="post" action="/addreport/3/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="text" class="form-control" name="date" id="date" 
                       placeholder="date de l'accident" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
            <input type="time" class="form-control" name="time" id="time"
                   placeholder="Time of accident">
        </div>
        </div>
        <div class="row">
            <button type="submit" name="form102" class="btn btn-primary col-2">Suivant</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/1/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% endif %}
{% endif %}
{% endif %}
{%endblock%}
{% block scripts %}
<script>
    var fullDate = new Date()
    var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : '0' + (fullDate.getMonth() + 1);
    var currentDate = fullDate.getDate() + "/" + twoDigitMonth + "/" + fullDate.getFullYear();
    if (fullDate.getDate() < 10) {
        currentDate = "0" + currentDate;
    }
    fullDate.setDate(fullDate.getDate()-5);
    twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : '0' + (fullDate.getMonth() + 1);
    var fivedaysbefore = fullDate.getDate() + "/" + twoDigitMonth + "/" + fullDate.getFullYear();
    console.log(fivedaysbefore);
    $('#date').datepicker({
        format: "dd/mm/yyyy",
        startDate: fivedaysbefore,
        endDate: currentDate,
        orientation: "bottom right"
    });

</script>
{%endblock%}