{% extends '/constat_form/sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block style %}
<style>
    @media screen and (max-width: 768px){
        input{
            display: inline-block!important;
        }
    }
</style>
{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="/about/{{lang}}">About Us</a>
<!-- <a href="#">Claims</a> -->
<a href="/login/{{lang}}">My account</a>
{% else %}{% if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="/about/{{lang}}">معلومات</a>
<!-- <a href="#">مطالب</a> -->
<a href="/login/{{lang}}">حسابي</a>
{% else %}{% if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="/about/{{lang}}">Informations</a>
<!-- <a href="#">Réclamations</a> -->
<a href="/login/{{lang}}">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">Upload image of sketch of the accident at the time of impact </h1>
    </div>
    <form class="fifth-form" method="post" action="#" enctype="multipart/form-data">
        <div class="form-group">
            <input type=file name=file>
            <button type="submit" name="form124" class="btn btn-primary col-2">تحميل</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/23/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang =="arabe" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">تحميل صورة رسم من الحادث في وقت الاصطدام </h1>
    </div>
    <form class="fifth-form" method="post" action="#" enctype="multipart/form-data">
        <div class="form-group">
            <input type=file name=file>
            <button type="submit" name="form124" class="btn btn-primary col-2">Finish</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/23/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang=="french" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">Télécharger l’image du croquis de l’accident au moment de l’impact</h1>
    </div>
    <form class="fifth-form" method="post" action="#" enctype="multipart/form-data">
        <div class="form-group">
            <input type=file name=file>
            <button type="submit" name="form124" class="btn btn-primary col-2">Finish</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/23/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% endif %}
{% endif %}
{%endif%}
{%endblock%}
{% block scripts %}
{% endblock %} 
