{% extends '/constat_form/sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="/about/{{lang}}">About Us</a>
<!-- <a href="#">Claims</a> -->
<a href="/login/{{lang}}">My account</a>
{% else %}{%if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="/about/{{lang}}">معلومات</a>
<!-- <a href="#">مطالب</a> -->
<a href="/login/{{lang}}">حسابي</a>
{% else %}{%if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="about/{{lang}}">Informations</a>
<!-- <a href="#">Réclamations</a> -->
<a href="/login/{{lang}}">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">Witnesses</h1>
    </div>
    <form class="first_form" method="post" action="/addreport/8/{{lang}}">
        <div class="row" id="parentDiv">
           
        </div>
        <div class="row">
            <button type="button" class="btn btn-info col-2" style="margin: auto;" onclick="addwit()">add witness!</button>
        </div>
            
        <div class="row">
            <button type="submit" name="form107" class="btn btn-primary col-2">next!</button>
            <!--                    <a href="/signup/2/{{lang}}" class="btn btn-primary form-btn col-2">Go</a>-->
        </div>
    </form>
    <div class="back"><a href="/addreport/6/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% else %}{% if lang =="arabe" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">شهود عيان</h1>
    </div>
    <form class="first_form" method="post" action="/addreport/8/{{lang}}">
        <div class="row" id="parentDiv">
           
        </div>
        <div class="row">
            <button type="button" class="btn btn-info col-2" style="margin: auto;" onclick="addwit_a()">زيد شاهد</button>
        </div>
            
        <div class="row">
            <button type="submit" name="form107" class="btn btn-primary col-2">التالي</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/6/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div class="content">
        <h1 class="center-text">témoins</h1>
    </div>
    <form class="first_form" method="post" action="/addreport/8/{{lang}}">
        <div class="row" id="parentDiv">
           
        </div>
        <div class="row">
            <button type="button" class="btn btn-info col-2" style="margin: auto;" onclick="addwit_f()">ajouter témoin!</button>
        </div>
            
        <div class="row">
            <button type="submit" name="form107" class="btn btn-primary col-2">Suivant</button>
        </div>
    </form>
    <div class="back"><a href="/addreport/6/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% endif %}
{% endif %}
{%endif%}
{%endblock%}
{% block scripts %}
<script>
    var i = 1;
    function addwit() {
      var parent = document.getElementById("parentDiv");
      var div = document.createElement("div");
      div.setAttribute("class","form-group col-md-6")
      div.innerHTML = "<input type='text' class='form-control' name='namew"+i+"' id='namew"+i+"' placeholder='full name of witness'>";
      var div1 =document.createElement("div");
      div1.setAttribute("class","form-group col-md-6")
      div1.innerHTML="<input type='number' class='form-control' name='telw"+i+"' id='telw"+i+"' placeholder='phone number'>";
      parent.appendChild(div);
      parent.appendChild(div1);
      i++;
    }
  </script>
  <script>
    var i = 1;
    function addwit_a() {
      var parent = document.getElementById("parentDiv");
      var div = document.createElement("div");
      div.setAttribute("class","form-group col-md-6")
      div.innerHTML = "<input type='text' class='form-control' name='namew"+i+"' id='namew"+i+"' placeholder='الاسم الكامل للشاهد'>";
      var div1 =document.createElement("div");
      div1.setAttribute("class","form-group col-md-6")
      div1.innerHTML="<input type='number' class='form-control' name='telw"+i+"' id='telw"+i+"' placeholder='رقم الهاتف'>";
      parent.appendChild(div);
      parent.appendChild(div1);
      i++;
    }
  </script>
  <script>
    var i = 1;
    function addwit_f() {
      var parent = document.getElementById("parentDiv");
      var div = document.createElement("div");
      div.setAttribute("class","form-group col-md-6")
      div.innerHTML = "<input type='text' class='form-control' name='namew"+i+"' id='namew"+i+"' placeholder='nom du témoin'>";
      var div1 =document.createElement("div");
      div1.setAttribute("class","form-group col-md-6")
      div1.innerHTML="<input type='number' class='form-control' name='telw"+i+"' id='telw"+i+"' placeholder='numéro de télephone'>";
      parent.appendChild(div);
      parent.appendChild(div1);
      i++;
    }
  </script>
{% endblock %}