{% extends "vie/sign.html" %}
{% block dropdownlink %}
<div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
    <a class="dropdown-item" href="/vie/2/?lang=ar">Ar</a>
    <a class="dropdown-item" href="/vie/2/?lang=fr">Fr</a>
    <a class="dropdown-item" href="/vie/2/?lang=en">Eng</a>
</div>
{% endblock %}
{% block body %}
{% if lang == 'en'%}

<div class="english container-fluid vie">
    <div class="content">
        <h1 class="center-text">Tell us more about you!</h1>
    </div>
    <form action="#" autocomplete="off" class="second_form" method="post">
        <div class="row">
            <div class="col-8">
                <h4>How old are you??</h4>
                <input class="form-control " id="age" name="age" placeholder="...."
                       style="float: right;"
                       type="text">
            </div>

<div class="column">
                <img src="/static/images/id-card.png" alt="card" id="card" style="float:right;width:120px;height:120px;padding:20px" >
</div>

        </div>
        <div class="row" style="margin-top:5px;">
            <button class="btn btn-primary col-2" name="form2" type="submit">Next</button>
        </div>
    </form>
</div>
    <div class="back"><a href="/vie/1"><img id="back-arrow" src="/static/images/back.png " alt=""></a></div>
{% endif %}

{% if lang == 'fr' %}
<div class="english container-fluid vie">
    <div class="content">
        <h1 class="center-text">Parlez nous de vous!</h1>
    </div>
    <form action="#" autocomplete="off" class="second_form" method="post">
        <div class="row">
            <div id="aaage" class="col-md-8 ">
                <h4>Quel age avez vous??</h4>
                <input style="align:center;" class="form-control" id="age1" name="age" placeholder="...."
                       style="float: right;"
                       type="text">
            </div>
<div class="column">
                <img src="/static/images/id-card.png" alt="card" id="card" style="float:right;width:120px;height:120px;padding:20px" >
</div>

        </div>

        <div class="row" >

            <button class="btn btn-primary col-2" style="margin-top:5px;" name="form2" type="submit">Suivant</button>
        </div>
    </form>
</div>
    <div class="back"><a href="/vie/1"><img id="back-arrow" src="/static/images/back.png " alt=""></a></div>
{% endif %}

{% if lang == 'ar' %}

<div class="english container-fluid vie">
    <div class="content">
        <h1 class="center-text">أحكيلنا على روحك!</h1>
    </div>
    <form action="#" autocomplete="off" class="second_form" method="post">
        <div class="row">
            <div class="col-8 " >
                <h4> قداش عمرك؟ ؟</h4>
                <input class="form-control" id="age11" name="age" placeholder="...."
                       style="float: right;"
                       type="text">
            </div>
<div class="column">
                <img src="/static/images/id-card.png" alt="card" id="card" style="float:right;width:120px;height:120px;padding:20px" >
</div>

        </div>
        <div class="row" style="margin-top:5px;">
            <button class="btn btn-primary col-2" name="form2" type="submit">التالي</button>
        </div>
    </form>
</div>
    <div class="back"><a href="/vie/1"><img id="back-arrow" src="/static/images/back.png " alt=""></a></div>


{% endif %}
{% endblock %}