{% extends "vie/sign.html"%}
{% block dropdownlink %}
<div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
    <a class="dropdown-item" href="/vie/44/?lang=ar">Ar</a>
    <a class="dropdown-item" href="/vie/44/?lang=fr">Fr</a>
    <a class="dropdown-item" href="/vie/44/?lang=en">Eng</a>
</div>
{% endblock %}
{% block body %}

{% if lang=='en' %}
{% if error %}
<div class="alert alert-dark">{{error['en']}}</div>
{% endif %}
<div class="english container-fluid vie">
    <div class="content">
        <h1 class="center-text">Tell us more about your personal life!</h1>
    </div>
    <form action="#" autocomplete="off" class="second_form" method="post">
<div class="row">
         <div class="form-group col-md-7">
                <h4>How many children do you got??</h4>
                <input class="form-control" name="children" placeholder="type a number .."
                       style="float: right;"
                       type="number">
            </div>
    <div class="column">
                <img src="/static/images/father.png" alt="card" style="float:right;width:120px;height:120px;padding:20px" >
</div>

        </div>
            <div class="row">
                <button class="btn btn-primary col-2" name="form2" type="submit">Next</button>
            </div>
    </form>
</div>
    <div class="back"><a href="/vie/4"><img id="back-arrow" src="/static/images/back.png " alt=""></a></div>
{% endif %}


{% if lang=='fr' %}
{% if error %}
<div class="alert alert-dark">{{error['fr']}}</div>
{% endif %}
<div class="english container-fluid vie">
    <div class="content">
        <h1 class="center-text">Parlez nous de vous!</h1>
    </div>
    <form action="#" autocomplete="off" class="second_form" method="post">
<div class="row">
         <div class="form-group col-md-7">
                <h4>Combien avez vous d'enfants??</h4>
                <input class="form-control" name="children" placeholder="..."
                       style="float: right;"
                       type="number">
            </div>
    <div class="column">
                <img src="/static/images/father.png" alt="card" style="float:right;width:120px;height:120px;padding:20px" >
</div>

        </div>
            <div class="row">
                <button class="btn btn-primary col-2" name="form2" type="submit">Suivant</button>
            </div>
    </form>
</div>
    <div class="back"><a href="/vie/4"><img id="back-arrow" src="/static/images/back.png " alt=""></a></div>
{% endif %}

{% if lang=='ar' %}
{% if error %}
<div class="alert alert-dark">{{error['ar']}}</div>
{% endif %}
<div class="english container-fluid vie">
    <div class="content">
        <h1 class="center-text">أحكيلنا على روحك!</h1>
    </div>
    <form action="#" autocomplete="off" class="second_form" method="post">
<div class="row">
         <div class="form-group col-md-7">
                <h4>كم عدد أطفالك؟</h4>
                <input class="form-control" name="children" placeholder="..."
                       style="float: right;"
                       type="number">
            </div>
    <div class="column">
                <img src="/static/images/father.png" alt="card" style="float:right;width:120px;height:120px;padding:20px" >
</div>

        </div>
            <div class="row">
                <button class="btn btn-primary col-2" name="form2" type="submit">التالي</button>
            </div>
    </form>
</div>
    <div class="back"><a href="/vie/4"><img id="back-arrow" src="/static/images/back.png " alt=""></a></div>
{% endif %}

{% endblock %}