{% extends "vie/sign.html"%}
{% block dropdownlink %}
<div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
    <a class="dropdown-item" href="/vie/55/?lang=ar">Ar</a>
    <a class="dropdown-item" href="/vie/55/?lang=fr">Fr</a>
    <a class="dropdown-item" href="/vie/55/?lang=en">Eng</a>
</div>
{% endblock %}
{% block body %}

{% if lang=='en' %}

<div class="english container-fluid vie">
        <div class="back"><a href="/vie/5"><img id="back-arrow" src="/static/images/back.png " alt=""></a></div>

    <div class="content">
        <h1 class="center-text">Tell us more about your finances!</h1>
    </div>
    <form action="#" autocomplete="off" class="second_form" method="post">
<div class="row">
         <div class="form-group col-md-7">
                <h4>How much is your total debt??</h4>
                <input class="form-control" name="debt" placeholder=" $$ .."
                       style="float: right;"
                       type="number">
            </div>
</div>
            <div class="row">
                <button class="btn btn-primary col-2" name="form2" type="submit">Next</button>
            </div>
    </form>
</div>
{% endif %}


{% if lang == 'fr' %}

<div class="english container-fluid vie">
        <div class="back"><a href="/vie/5"><img id="back-arrow" src="/static/images/back.png " alt=""></a></div>

    <div class="content">
        <h1 class="center-text">Parlez nous de votre situation financières!</h1>
    </div>
    <form action="#" autocomplete="off" class="second_form" method="post">
<div class="row">
         <div class="form-group col-md-7">
                <h4>Combien est-t-elle la totalité de vos dettes?</h4>
                <input class="form-control" name="debt" placeholder=" $$ .."
                       style="float: right;"
                       type="number">
            </div>
</div>
            <div class="row">
                <button class="btn btn-primary col-2" name="form2" type="submit">Suivant</button>
            </div>
    </form>
</div>
{% endif %}

{% if lang == 'ar' %}

<div class="english container-fluid vie">
        <div class="back"><a href="/vie/5"><img id="back-arrow" src="/static/images/back.png " alt=""></a></div>

    <div class="content">
        <h1 class="center-text">أحكيلنا على وضعيتك المادية!</h1>
    </div>
    <form action="#" autocomplete="off" class="second_form" method="post">
<div class="row">
         <div class="form-group col-md-7">
                <h4>ما هي قيمة ديونك؟</h4>
                <input class="form-control" name="debt" placeholder=" $$ .."
                       style="float: right;"
                       type="number">
            </div>
    </div>

            <div class="row">
                <button class="btn btn-primary col-2" name="form2" type="submit">التالي</button>
            </div>
    </form>
</div>
{% endif %}

{% endblock %}