{% extends 'sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="/about/{{lang}}">About Us</a>
<!--    <a href="#">Claims</a>-->
<a href="/login/{{lang}}">My account</a>
{% else %}{%if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="/about/{{lang}}">معلومات</a>
<!--    <a href="#">مطالب</a>-->
<a href="/login/{{lang}}">حسابي</a>
{% else %}{%if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="about/{{lang}}">Informations</a>
<!--    <a href="#">Réclamations</a>-->
<a href="/login/{{lang}}">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block navlang %}
<div class="dropright btn-group show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% block lang %}{{lang}}{% endblock %}
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/preview/arabe">Ar</a>
        <a class="dropdown-item" href="/preview/french">Fr</a>
        <a class="dropdown-item" href="/preview/english">Eng</a>
    </div>
</div>
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div style="text-align: center">
        <h3 style="margin-bottom: 50px">Choose one of your properties :</h3>
        <dl class="contract-list anyClass" style="max-height: 400px">
            {% for contrat in contrats %}
            {% if contrat.paid is sameas false %}
            {% set x = loop.index %}
            <dt ><a href="/preview/english/{{loop.index}}">{{contrat.adresse}}</a><span id="{{x}}" class="deladd pull-right">Delete</span></dt>
            {% else %}
            <dt class="paid"><p>{{contrat.adresse}}</p></dt>
            {% endif %}
            {% endfor %}
        </dl>
    </div>

</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid">
    <div style="text-align: center">
        <h3 style="margin-bottom: 50px">Choose one of your properties :</h3>
        <dl class="contract-list anyClass" style="max-height: 400px">
            {% for contrat in contrats %}
            {% if contrat.paid is sameas false %}
            {% set x = loop.index %}
            <dt ><a href="/preview/arabe/{{loop.index}}">{{contrat.adresse}}</a><span id="{{x}}" class="deladd pull-right">حذف</span></dt>
            {% else %}

            <dt class="paid"><p>{{contrat.adresse}}</p></dt>
            {% endif %}
            {% endfor %}
        </dl>
    </div>

</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div style="text-align: center">
        <h3 style="margin-bottom: 50px">Choose one of your properties :</h3>
        <dl class="contract-list anyClass" style="max-height: 400px">
            {% for contrat in contrats %}
            {% if contrat.paid is sameas false %}
            {% set x = loop.index %}
            <dt ><a href="/preview/french/{{loop.index}}">{{contrat.adresse}}</a><span id="{{x}}" class="deladd pull-right">Supprimer</span></dt>
            {% else %}
            <dt class="paid"><p>{{contrat.adresse}}</p></dt>
            {% endif %}
            {% endfor %}
        </dl>
    </div>

</div>
<!--<div class="french container-fluid">-->
<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            <div style="text-align: center">-->
<!--                <h3 style="margin-bottom: 50px">Choose one of your properties :</h3>-->
<!--                <dl class="contract-list anyClass" style="max-height: 400px">-->
<!--                    {% for contrat in contrats %}-->
<!--                    {% if contrat.paid is sameas false %}-->
<!--                    {% set x = loop.index %}-->
<!--                    <dt ><a href="/preview/french/{{loop.index}}">{{contrat.adresse}}</a><span id="{{x}}" class="deladd pull-right">Supprimer</span></dt>-->
<!--                    {% else %}-->
<!--                    <dt class="paid"><p>{{contrat.adresse}}</p></dt>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                </dl>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div style="text-align: center">-->
<!--                <h3 style="margin-bottom: 50px">Choose one of your properties :</h3>-->
<!--                <dl class="contract-list anyClass" style="max-height: 400px">-->
<!--                    {% for contrat in contrats %}-->
<!--                    {% if contrat.paid is sameas false %}-->
<!--                    {% set x = loop.index %}-->
<!--                    <dt ><a href="/preview/french/{{loop.index}}">{{contrat.adresse}}</a><span id="{{x}}" class="deladd pull-right">Supprimer</span></dt>-->
<!--                    {% else %}-->
<!--                    <dt class="paid"><p>{{contrat.adresse}}</p></dt>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                </dl>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div style="text-align: center">-->
<!--                <h3 style="margin-bottom: 50px">Choose one of your properties :</h3>-->
<!--                <dl class="contract-list anyClass" style="max-height: 400px">-->
<!--                    {% for contrat in contrats %}-->
<!--                    {% if contrat.paid is sameas false %}-->
<!--                    {% set x = loop.index %}-->
<!--                    <dt ><a href="/preview/french/{{loop.index}}">{{contrat.adresse}}</a><span id="{{x}}" class="deladd pull-right">Supprimer</span></dt>-->
<!--                    {% else %}-->
<!--                    <dt class="paid"><p>{{contrat.adresse}}</p></dt>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                </dl>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block scripts %}
<script>
    $(function () {
        $('dt .deladd').on('click', function () {
            x = parseInt($(this).attr('id'))
            console.log(x)
            req = $.ajax({
                url: '/delete/contract/'+x,
                type: 'POST',
            })
            req.done(function () {
                $('dl dt')[x-1].style.display = 'none';
            })
        });
        // $('dt .deladd').on('click', function () {
        //     console.log(parseInt($(this).attr('id')))
        // });
        console.log('la2aa!')
        function deladd(){
            x = parseInt($(this).attr('id'))
            console.log(x)
            req = $.ajax({
                url: '/delete/contract/'+x,
                type: 'POST',
            })
            req.done(function (data) {
                console.log(data.cont_id)
                $('dl dt')[x-1].css('background-color','red');
            })
        }
    })
</script>
{% endblock %}