{% extends 'sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
    {% if lang == "english" %}
        <a href="/home/english">Home</a>
        <a href="#">About Us</a>
        <a href="#">Claims</a>
        <a href="/login/{{lang}}">My account</a>
    {% else %}{%if lang =="arabe" %}
        <a href="/home/arabe">الرئيسية</a>
        <a href="#">معلومات</a>
        <a href="#">مطالب</a>
        <a href="/login/{{lang}}">حسابي</a>
    {% else %}{%if lang=="french" %}
        <a href="/home/french">Acceuil</a>
        <a href="#">Informations</a>
        <a href="#">Réclamations</a>
        <a href="/login/{{lang}}">Mon compte</a>
    {% endif %}
    {% endif %}
    {% endif %}
{% endblock %}
{% block dropdown %}
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/signup/{{nbr}}/arabe">Ar</a>
    <a class="dropdown-item" href="/signup/{{nbr}}/french">Fr</a>
    <a class="dropdown-item" href="/signup/{{nbr}}/english">Eng</a>
</div>
{% endblock %}
{% block dropdown2 %}
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/signup/{{nbr}}/arabe">Ar</a>
    <a class="dropdown-item" href="/signup/{{nbr}}/french">Fr</a>
    <a class="dropdown-item" href="/signup/{{nbr}}/english">Eng</a>
</div>
{% endblock %}
{% block lang %}
    {{lang}}
{% endblock %}
{% block style %}
<style>
    .container-fluid{
        padding-top: 50px;
    }
</style>
{% endblock %}
{% block body %}
{% if error %}
    <div class="alert alert-dark">{{error}}</div>
{% endif %}
    {% if lang == "english" %}
        <div class="english container-fluid">
            <div class="content">
                <h1 class="center-text">Welcome! We can get you an awsome price in seconds.</h1>
            </div>
            <form class="first_form" method="post" action="/voiture/2/{{lang}}">
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6 ">
                        <input type="text" style="float: right;" class="form-control" name="first_name" id="first_name" value="{{prenom|string}}"
                               placeholder="First name">
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <input type="text" style="float: left" class="form-control" name="last_name" id="last_name" value="{{nom|string}}"
                               placeholder="Last name">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" name="vform1" class="btn btn-primary col-2">Go!</button>
<!--                    <a href="/signup/2/{{lang}}" class="btn btn-primary form-btn col-2">Go!</a>-->
                </div>
            </form>
            <div class="back"><a href="/home/english"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
            </div>
        </div>
    {% else %}{% if lang =="arabe" %}
        <div class="arab container-fluid">
            <div class="content">
                <h1 class="center-text">مرحبا بيك في سوريز! عندنا أحنا تلقى اعز الأسوام</h1>
            </div>
            <form class="first_form" autocomplete="off" method="post" action="/voiture/2/{{lang}}">
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6 ">
                        <input type="text" style="float: right;" class="form-control" name="first_name" id="first_name" value="{{prenom|string}}"
                               placeholder="الإسم">
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <input type="text" style="float: left" class="form-control" name="last_name" id="last_name" value="{{nom|string}}"
                               placeholder="اللقب">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" name="vform1" class="btn btn-primary col-2">Go!</button>
<!--                    <a href="/signup/2/{{lang}}" class="btn btn-primary form-btn col-2">Go!</a>-->
                </div>
            </form>
            <div class="back"><a href="/home/arabe"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
            </div>
        </div>
    {% else %}{% if lang=="french" %}
        <div class="french container-fluid">
            <div class="content">
                <h1 class="center-text">Bienvenue ici! Votre prix sera généré en un clin d'oeuil</h1>
            </div>
            <form class="first_form" method="post" action="/signup/2/{{lang}}">
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <input type="text" style="float: right;" class="form-control" name="first_name" id="first_name" value="{{prenom|string}}"
                               placeholder="prenom">
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <input type="text" style="float: left" class="form-control" name="last_name" id="last_name" value="{{nom|string}}"
                               placeholder="nom">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" name="vform1" class="btn btn-primary col-2">Go!</button>
<!--                    <a href="/signup/2/{{lang}}" style="margin-left: 42%" class="btn btn-primary form-btn col-2">Go!</a>-->
                </div>
            </form>
            <div class="back"><a href="/home/french"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
            </div>

        </div>
    {% endif %}
    {% endif %}
    {% endif %}
{% endblock %}