{% extends 'auto.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="#">About Us</a>
<!--    <a href="#">Claims</a>-->
<a href="#">My account</a>
{% else %}{%if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="#">معلومات</a>
<!--    <a href="#">مطالب</a>-->
<a href="#">حسابي</a>
{% else %}{%if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="#">Informations</a>
<!--    <a href="#">Réclamations</a>-->
<a href="#">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block style %}
<style>
    .content{
        text-align: center;
    }
</style>
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid-auto">
    <div class="content">
        <h1 class="center-text-car">Enter your e-mail!</h1>
    </div>
    <form class="first_form" method="post" action="/voiture/10/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="email" class="form-control" name="email" id="email" value="{{email|string}}"
                       placeholder="Email">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="vform9" class="btn btn-primary col-2">Go</button>
        </div>
    </form>
    <div class="back"><a href="/voiture/8/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
<div class="pop_pres" style="display: flex">

    <form action="/voiture/12/{{lang}}" method="post">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="content">
            <h4 style="margin-top: 30px;font-size: 1rem">Connect or close this window and Create your Account</h4>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="email" class="form-control" name="email" id="e-mail"
                       placeholder="Email">
            </div>
        </div>
        <div class="row" style="position: relative">
            <div class="form-group col-12 ">
                <input type="password" class="form-control" name="password" id="password"
                       placeholder="Password">
            </div>
<!--            <a href="#" data-toggle="modal" data-target="#fill_email" style="-->
<!--                        position: absolute;-->
<!--                        right: 20px;-->
<!--                        bottom: -7px;-->
<!--                        font-size: 13px;">forgot your password ?</a>-->
        </div>
        <div class="row" style="padding-top: 15px">
            <div class="g-recaptcha" data-sitekey="6LfBg8MZAAAAANGW1yEb9v12b-qbpmMvgSmOd_Tj" data-action='submit'></div>
        </div>
        <button type="submit" name="vform9b" class="btn">Connect</button>

<!--        <button type="submit" name="code_form" class="btn">Send</button>-->
    </form>
</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid-auto">
    <div class="content">
        <h1 class="center-text-car">أدخل بريدك الإلكتروني</h1>
    </div>
    <form class="first_form" method="post" action="/voiture/10/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="email" class="form-control" name="email" id="email" value="{{email|string}}"
                       placeholder="البريد الإلكتروني">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="vform9" class="btn btn-primary col-2">التالي</button>
        </div>
    </form>
    <div class="back"><a href="/voiture/8/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
<div class="pop_pres" style="display: flex">

    <form action="/voiture/12/{{lang}}" method="post">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="content">
            <h4 style="margin-top: 30px;font-size: 1rem">كونكتي كان عندك كونت ولا سكر النافذة وتبع المراحل </h4>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="email" class="form-control" name="email" id="e-mail"
                       placeholder="بريدك الالكتروني">
            </div>
        </div>
        <div class="row" style="position: relative">
            <div class="form-group col-12 ">
                <input type="password" class="form-control" name="password" id="password"
                       placeholder="كلمة السّر">
            </div>
            <!--            <a href="#" data-toggle="modal" data-target="#fill_email" style="-->
            <!--                        position: absolute;-->
            <!--                        right: 20px;-->
            <!--                        bottom: -7px;-->
            <!--                        font-size: 13px;">forgot your password ?</a>-->
        </div>
        <div class="row" style="padding-top: 15px">
            <div class="g-recaptcha" data-sitekey="6LfBg8MZAAAAANGW1yEb9v12b-qbpmMvgSmOd_Tj" data-action='submit'></div>
        </div>
        <button type="submit" name="vform9b" class="btn">دخول</button>

        <!--        <button type="submit" name="code_form" class="btn">Send</button>-->
    </form>
</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid-auto">
    <div class="content">
        <h1 class="center-text-car">Entrez votre e-mail</h1>
    </div>
    <form class="first_form" method="post" action="/voiture/10/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="email" class="form-control" name="email" id="email" value="{{email|string}}"
                       placeholder="Email">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="vform9" class="btn btn-primary col-2">Suivant</button>
        </div>
    </form>
    <div class="back"><a href="/voiture/8/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>

</div>
<div class="pop_pres" style="display: flex">

    <form action="/voiture/12/{{lang}}" method="post">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="content">
            <h4 style="margin-top: 30px;font-size: 1rem">Connectez-vous ou fermer la fenêtre et créez un compte ?</h4>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="email" class="form-control" name="email" id="e-mail"
                       placeholder="Email">
            </div>
        </div>
        <div class="row" style="position: relative">
            <div class="form-group col-12 ">
                <input type="password" class="form-control" name="password" id="password"
                       placeholder="Mot de passe">
            </div>
            <!--            <a href="#" data-toggle="modal" data-target="#fill_email" style="-->
            <!--                        position: absolute;-->
            <!--                        right: 20px;-->
            <!--                        bottom: -7px;-->
            <!--                        font-size: 13px;">forgot your password ?</a>-->
        </div>
        <div class="row" style="padding-top: 15px">
            <div class="g-recaptcha" data-sitekey="6LfBg8MZAAAAANGW1yEb9v12b-qbpmMvgSmOd_Tj" data-action='submit'></div>
        </div>
        <button type="submit" name="vform9b" class="btn">Connecter</button>

        <!--        <button type="submit" name="code_form" class="btn">Send</button>-->
    </form>
</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block scripts %}
<script>
    $('.pop_pres .close').on('click', function () {
        $('.pop_pres').css('display', 'none');
    })
</script>
{% endblock %}