{% extends 'auto.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="#">About Us</a>
<a href="#">Claims</a>
<a href="#">My account</a>
{% else %}{% if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="#">معلومات</a>
<a href="#">مطالب</a>
<a href="#">حسابي</a>
{% else %}{% if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="#">Informations</a>
<a href="#">Réclamations</a>
<a href="#">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block style %}
<style>
    .form-check{
        margin-bottom: 0;
    }
    .container-fluid{
        padding-top: 0;
    }
    label h2{
        background-color: white;
    }

</style>
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid-auto">
    <div class="content">
        <h1 class="center-text-car">Vehicle brand and model?</h1>
    </div>
    <form class="third-form" method="post" action="/voiture/5/{{lang}}">
        <div class="row" style="text-align: center;">
            <div class="form-group col-md-12">
                <label for="matricule">Registration number</label>
                <input type="text" style="float: right;" class="form-control" name="matricule" id="matricule" value="{{matricule|string}}"
                placeholder="Example: 100 TUN 2000">
            </div>
            <div class="form-group col-md-6">
                <label for="marque">Vehicle brand</label>
                <select class="form-control" style="float: right;" name="marque" id="marque" onchange="option()">
                    <option>Select brand</option>
                    <option value="alfa">Alfa Romeo</option>
                    <option value="audi">Audi</option>
                    <option value="bm">BMW</option>
                    <option value="chery">Chery</option>
                    <option value="chevrolet">Chevrolet</option>
                    <option value="citroen">Citroen</option>
                    <option value="dacia">Dacia</option>
                    <option value="dfsk">DFSK</option>
                    <option value="dong">Dongleng</option>
                    <option value="ds">DS</option>
                    <option value="fiat">Fiat</option>
                    <option value="ford">Ford</option>
                    <option value="foton">Foton</option>
                    <option value="geely">Geely</option>
                    <option value="great">Greatwall</option>
                    <option value="haval">Haval</option>
                    <option value="honda">Honda</option>
                    <option value="hyundai">Hyundai</option>                 
                    <option value="jaguar">Jaguar</option>
                    <option value="jeep">Jeep</option>
                    <option value="kia">KIA</option>
                    <option value="lada">Lada</option>
                    <option value="land">Land Rover</option>
                    <option value="mahindra">Mahindra</option>
                    <option value="mazda">Mazda</option>
                    <option value="mercedes">Mercedes-Benz</option>
                    <option value="mg">MG</option>
                    <option value="mitsubischi">Mitsubishi</option>
                    <option value="nissan">Nissan</option>
                    <option value="peugeot">Peugeot</option>
                    <option value="porsche">Porsche</option>
                    <option value="renault">Renault</option>
                    <option value="saab">Saab</option>
                    <option value="seat">Seat</option>
                    <option value="skoda">Skoda</option>
                    <option value="ssangyong">Ssangyong</option>
                    <option value="suzuki">Suzuki</option>
                    <option value="tata">Tata</option>
                    <option value="toyota">Toyota</option>
                    <option value="volkswagen">Volkswagen</option>
                    <option value="volvo">Volvo</option>
                    <option value="wallyscar">WallysCar</option>
                    <option value="autre">Other</option>
                </select>
            </div>
            <div class="form-group col-md-6">
             
                <label for="modele">Model</label>
                <select class="form-control" name="modele" id="modele">
                    <option>Select model</option>
                    
                </select>
                
            </div>
        </div>
        <div class="row">
            <button type="submit" name="vform4" class="btn btn-primary col-2">Next</button>
        </div>

    </form>
    <div class="back"><a href="/voiture/3/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>

</div>

{% else %}{% if lang == "arabe" %}
<div class="arab container-fluid-auto">
    <div class="content">
        <h1 class="center-text-car">ماركة وموديل الكرهبة؟</h1>
    </div>
    <form class="third-form" method="post" action="/voiture/5/{{lang}}">
        <div class="row"  style="text-align: center;">
            <div class="form-group col-md-12">
                <label for="matricule">رقم التسجيل</label>
                <input type="text" style="float: right;" class="form-control" name="matricule" id="matricule" value="{{matricule|string}}"
                placeholder="مثال:2000 تونس 100 ">
            </div>
            <div class="form-group col-md-6">
             
                <label for="marque">ماركة الكرهبة</label>
                <select class="form-control" name="marque" id="marque" onchange="option()">
                    <option>إختار الماركة</option>
                    <option value="alfa">Alfa Romeo</option>
                    <option value="audi">Audi</option>
                    <option value="bm">BMW</option>
                    <option value="chery">Chery</option>
                    <option value="chevrolet">Chevrolet</option>
                    <option value="citroen">Citroen</option>
                    <option value="dacia">Dacia</option>
                    <option value="dfsk">DFSK</option>
                    <option value="dong">Dongleng</option>
                    <option value="ds">DS</option>
                    <option value="fiat">Fiat</option>
                    <option value="ford">Ford</option>
                    <option value="foton">Foton</option>
                    <option value="geely">Geely</option>
                    <option value="great">Greatwall</option>
                    <option value="haval">Haval</option>
                    <option value="honda">Honda</option>
                    <option value="hyundai">Hyundai</option>
                    <option value="jaguar">Jaguar</option>
                    <option value="jeep">Jeep</option>
                    <option value="kia">KIA</option>
                    <option value="lada">Lada</option>
                    <option value="land">Land Rover</option>
                    <option value="mahindra">Mahindra</option>
                    <option value="mazda">Mazda</option>
                    <option value="mercedes">Mercedes-Benz</option>
                    <option value="mg">MG</option>
                    <option value="mitsubischi">Mitsubishi</option>
                    <option value="nissan">Nissan</option>
                    <option value="peugeot">Peugeot</option>
                    <option value="porsche">Porsche</option>
                    <option value="renault">Renault</option>
                    <option value="saab">Saab</option>
                    <option value="seat">Seat</option>
                    <option value="skoda">Skoda</option>
                    <option value="ssangyong">Ssangyong</option>
                    <option value="suzuki">Suzuki</option>
                    <option value="tata">Tata</option>
                    <option value="toyota">Toyota</option>
                    <option value="volkswagen">Volkswagen</option>
                    <option value="volvo">Volvo</option>
                    <option value="wallyscar">WallysCar</option>
                    <option value="autre">Autre</option>
                </select>
                
            </div>
            <div class="form-group col-md-6">
             
                <label for="modele">موديل الكرهبة</label>
                <select class="form-control" name="modele" id="modele">
                    <option>إختار موديل</option>
    
                </select>
                
            </div>
        </div>
        <div class="row">
            <button type="submit" name="vform4" class="btn btn-primary col-2">التالي</button>
        </div>

    </form>
    <div class="back"><a href="/voiture/3/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang == "french" %}
    <div class="french container-fluid-auto">
        <div class="content">
            <h1 class="center-text-car">La marque et le modèle du véhicule?</h1>
        </div>
        <form class="third-form" method="post" action="/voiture/5/{{lang}}">
            <div class="row" style="text-align: center;">
                <div class="form-group col-md-12">
                    <label for="matricule">Numéro d'immatriculation</label>
                    <input type="text" style="float: right;" class="form-control" name="matricule" id="matricule" value="{{matricule|string}}"
                    placeholder="Exemple: 100 TUN 2000">
                </div>
                <div class="form-group col-md-6">
                    <label for="marque">La marque du véhicule</label>
                    <select class="form-control" style="float: left;" name="marque" id="marque" onchange="option()">
                        <option>Sélectionner la marque</option>
                        <option value="alfa">Alfa Romeo</option>
                        <option value="audi">Audi</option>
                        <option value="bm">BMW</option>
                        <option value="chery">Chery</option>
                        <option value="chevrolet">Chevrolet</option>
                        <option value="citroen">Citroen</option>
                        <option value="dacia">Dacia</option>
                        <option value="dfsk">DFSK</option>
                        <option value="dong">Dongleng</option>
                        <option value="ds">DS</option>
                        <option value="fiat">Fiat</option>
                        <option value="ford">Ford</option>
                        <option value="foton">Foton</option>
                        <option value="geely">Geely</option>
                        <option value="great">Greatwall</option>
                        <option value="haval">Haval</option>
                        <option value="honda">Honda</option>
                        <option value="hyundai">Hyundai</option>
                        <option value="jaguar">Jaguar</option>
                        <option value="jeep">Jeep</option>
                        <option value="kia">KIA</option>
                        <option value="lada">Lada</option>
                        <option value="land">Land Rover</option>
                        <option value="mahindra">Mahindra</option>
                        <option value="mazda">Mazda</option>
                        <option value="mercedes">Mercedes-Benz</option>
                        <option value="mg">MG</option>
                        <option value="mitsubischi">Mitsubishi</option>
                        <option value="nissan">Nissan</option>
                        <option value="peugeot">Peugeot</option>
                        <option value="porsche">Porsche</option>
                        <option value="renault">Renault</option>
                        <option value="saab">Saab</option>
                        <option value="seat">Seat</option>
                        <option value="skoda">Skoda</option>
                        <option value="ssangyong">Ssangyong</option>
                        <option value="suzuki">Suzuki</option>
                        <option value="tata">Tata</option>
                        <option value="toyota">Toyota</option>
                        <option value="volkswagen">Volkswagen</option>
                        <option value="volvo">Volvo</option>
                        <option value="wallyscar">WallysCar</option>
                        <option value="autre">Autre</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
             
                    <label for="modele">Modèle</label>
                    <select class="form-control" name="modele" id="modele">
                        <option>Sélectionner le modèle</option>
                        
                    </select>
                    
                </div>

            </div>
            <div class="row">
                <button type="submit" name="vform4" class="btn btn-primary col-2">Suivant</button>
            </div>
    
        </form>
        <div class="back"><a href="/voiture/3/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
    </div>

{% endif %}
{% endif %}
{% endif %}
{% endblock %}

{% block scripts %}
<script>


function option() {

    
    var alfa_array = 
         ['Giulia',
         'Giulietta',
         'Stelvio',
         'Autre'
    ];
    var audi_array = [
        'A1',
        'A2',
        'A3',
        'A3 Berline',
        'A3 Sportback',
        'A4',
        'A5 Sportback',
        'A6',
        'A7 Sportback',
         'A8 L',
         'Q2',
         'Q3',
         'Q3 Sportback',
         'Q5',
         'Q8',
         'Autre' ] ;      
    

    var bm_array = [
        'Série 1',
        'Série 2 Gran Coupé',
        'Série 3',
        'Série 4 Coupé',
        'Série 4 Gran Coupé',
        'Série 5',
        'X1',
        'X2',
        'X3',
         'X5',  
         'Autre'   ]  ;
    
    var chery_array = ['Arrizo 3','Arrizo 5','QQ Populaire','Tiggo 2','Tiggo 4','Tiggo 7','Autre']  ;   
    

    var chevrolet_array = 
         ['Sonic',
         'Sonic 4p' ,
         'Autre']  ;   
    

    var citroen_array = 
        ['Berlingo Van',
        'C-Elysée',
        'C3 Aircross',
        'C3 Populaire',
        'C4 Cactus Berline',
        'C5 Aircross',
        'Jumper' ,
        'Autre'   ] ;
    

    var dacia_array = 
         ['Dokker Van',
         'Duster',
         'Logan MCV' ,
         'Autre'];

    var dfsk_array = 
        ['K01',
        'K01H',
        'K02' ,
        'Autre'];
  
    var dong_array = 
         ['S50',
         'Autre'] ;
    

    var ds_array = 
         ['3',
         '3 Crossback',
         '4',
         '4 Crossback',
         '7 Crossback' ,
         'Autre'] ;
   




    var renault_array = 
         ['Avantime',
        'Clio',
        'Espace',
        'Espace Pro',
        'Express',
        'Fluence',
        'Laguna',
         'Master',
         'Megane',
         'Megane Sedan',
         'Modus',
         'Scenic Pro',
         'Symbol',
         'Safrane',
         'Scenic',
         'Trafic',];
    

    var fiat_array = 
        ['500',
        '500X',
        'Doblo',
        'Doblo Combi',
        'Ducato',
        'Fiorino',
        'Panda',
        'Panda City Cross',
        'Panda Populaire',
         'Punto',
         'Punto Evo',
         'Qubo',
         'Tipo',
         'Tipo Berline',
         'Autre'];
    var ford_array = 

         ['Escort',
         'Fiesta',
         'Fusion',
         'Kuga',
         'Ranger',
         'Ranger Raptor',
         'Transit Bus',
         'Transit Custom',
         'Transit Van',
         'Autre']

    var foton_array = 
         ['Tunland' ,
         'Autre'];


    var geely_array = 
        ['GC 6' ,
        'Autre'];


    var great_array = 
        ['M4',
        'Wingle 5' ,
        'Autre'];
    

    var haval_array = 
        ['H2',
        'H6',
        'H9' ,
        'Autre'];

    var honda_array = 
        [ 'Accord',
         'City',
         'Civic',
         'CR-V',
         'HR-V' ,
         'Autre' ];
    
    var hyundai_array = 
       ['Ceta',
       'Elantra',
       'Grand i10',
       'Grand i10 Populaire',
       'Grand i10 Sedan',
       'Grand Santa Fe',
       'i10',
       'i20',
       'Fuscon',
        'Autre'];
    

    var jaguar_array = 
        [ 'E-Pace',
         'F-Pace' ,
         'XF',
         'Autre'];

    var jeep_array = 
         ['Compass',
         'Grand Cherokee' ,
         'Renegade',
         'Wrangler Unlimited',
         'Autre'];

    var kia_array = 
       ['Carens',
       'Carnival',
       'Cee d',
       'Cerato',
       'Magentis',
       'Opirus',
       'Picanto',
       'Rio',
       'Sportage',
        'Sorento',
        'Autre'];
    

    var lada_array =
         ['4x4' ,
         'Autre'];
    var land_array = 
         ['Discovery Sport' ,
         'Range Rover Evoque' ,
         'Range Rover Sport' ,
         'Range Rover Velar' ,
         'Autre'];

    var mahindra_array = 
         ['KUV 100' ,
         'Pick-up DC' ,
         'Pick-up DC SC' ,
         'XUV 500' ,
         'Autre'];


    var mazda_array = 
        ['2',
        '2 Sedan',
        '3',
        '3 Sedan',
        '5',
        '6',
        'BT-50 Pro',
        'CX-3',
        'CX-5',
         'CX-9',
         'MX-5',
         'Autre'];
    

    var mercedes_array = 
        ['CLA',
        'Classe A',
        'Classe A Berline',
        'Classe C',
        'Classe C Coupé',
        'Classe E',
        'Classe E Coupé',
        'Classe S',
        'Classe S Coupé',
         'GLC',
         'GLC Coupé',
         'Sprinter Van',
         'Autre'];


    var mg_array = 
       ['3',
       '5',
       '6',
       'EZS',
       'HS' ,
       'ZS',
       'Autre' ];
    

    var mitsubischi_array = 
         ['ASX' ,
         'Attrage Populaire' ,
         'Mirage Populaire' ,
         'Pajero' ,
         'Autre'];
    

    var nissan_array = 
        ['Almera',
        'Alteon',
        'Cube',
        'Interstar',
        'Juke',
        'Micra',
        'Navara',
        'Primera',
        'Qashqai',
         'Punto',
         'Serena',
         'Qubo',
         'Tino',
         'Autre'];
    

    var peugeot_array = 
         ['106',
         '107',
         '206',
         '207',
         '2008',
         '2008 GT-Line',
         '208',
         '406',
         '407',
         '3008',
         '3008 GT-Line',
         '308',
         '5008',
         '5008 GT-line',
         '508',
         '508 GT-Line',
         'Boxer',
         'Expert',
         'Partnet',
         'Rifter',
         'Traveller',
         'Autre'];
    

    var porsche_array = 
         ['718 Boxter',
         '718 Cayman',
         '911',
         'Caynenne',
         'Cayenne Coupé',
         'Macan',
         'Panamera',
         'Autre'];
    

    var seat_array = 
         ['Arona' ,
         'Ibiza' ,
         'Leon' ,
         'Tarraco' ,
         'Autre'];
    
    var skoda_array = 
         ['Fabia',
         'Fabia Monte-Carlo',
         'Karoq',
         'Kodiaq',
         'Octavia' ,
         'Autre' ];
    
    var ssangyong_array = 
         ['Korando',
         'MUSSO',
         'Rexton',
         'Tivoli',
         'XLV' ,
         'Autre'] ;
    
    var suzuki_array = 
         ['Jimny',
         'Splash',
         'Swift',
         'SX4',
         'Vitara' ,
         'Drans Vitara',
         'Autre'];
    
    var tata_array = 
         ['Super Ace' ,
         'Xenon DC' ,
         'Xenon SC' ,
         'Autre'];
    
    var toyota_array = 
         ['C-HR',
         'Coaster',
         'Corolla',
         'Hiace',
         'Hilux',
         'Land Cruiser',
         'Prado',
         'RAV4',
         'Yaris',
         'Yaris Sedan',
         'Autre'];
    
    var volkswagen_array = 
        ['Amarok',
        'Caddy',
        'Caddy Dynamic',
        'Crafter',
        'Golf',
        'Jetta',
        'Passat',
        'Polo',
        'Tiguan',
         'Touareg',
         'Autre'];
    
    var wallyscar_array = 
         ['Iris',
         'Autre'];

    

    var y = document.getElementById("modele");
    console.log(y);
    var op = document.getElementById("marque").value ;
    console.log(op);
    if (op == "alfa") {
        for (var i = 0 ; i< alfa_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(alfa_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "audi") {
        for (var i = 0 ; i< audi_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(audi_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "bm") {
        for (var i = 0 ; i< bm_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(bm_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "chery") {
        for (var i = 0 ; i< chery_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(chery_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "chevrolet") {
        for (var i = 0 ; i< chevrolet_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(chevrolet_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "citroen") {
        for (var i = 0 ; i< citroen_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(citroen_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "dacia") {
        for (var i = 0 ; i< dacia_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(dacia_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "dfsk") {
        for (var i = 0 ; i< dfsk_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(dfsk_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "dong") {
        for (var i = 0 ; i< dong_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(dong_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    
    if (op == "ds") {
        for (var i = 0 ; i< ds_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(ds_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "fiat") {
        for (var i = 0 ; i< fiat_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(fiat_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "ford") {
        for (var i = 0 ; i< ford_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(ford_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "foton") {
        for (var i = 0 ; i< foton_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(foton_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "geely") {
        for (var i = 0 ; i< geely_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(geely_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "great") {
        for (var i = 0 ; i< great_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(great_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "haval") {
        for (var i = 0 ; i< haval_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(haval_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "honda") {
        for (var i = 0 ; i< honda_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(honda_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "hyundai") {
        for (var i = 0 ; i< hyundai_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(hyundai_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "jaguar") {
        for (var i = 0 ; i< jaguar_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(jaguar_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "jeep") {
        for (var i = 0 ; i< jeep_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(jeep_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "kia") {
        for (var i = 0 ; i< kia_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(kia_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "lada") {
        for (var i = 0 ; i< lada_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(lada_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "land") {
        for (var i = 0 ; i< land_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(land_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "mahindra") {
        for (var i = 0 ; i< mahindra_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(mahindra_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "mazda") {
        for (var i = 0 ; i< mazda_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(mazda_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "mercedes") {
        for (var i = 0 ; i< mercedes_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(mercedes_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "mg") {
        for (var i = 0 ; i< mg_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(mg_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "mitsubishi") {
        for (var i = 0 ; i< mitsubischi_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(mitsubischi_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "nissan") {
        for (var i = 0 ; i< nissan_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(nissan_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "peugeot") {
        for (var i = 0 ; i< peugeot_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(peugeot_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "porshe") {
        for (var i = 0 ; i< porsche_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(porsche_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "renault") {
        for (var i = 0 ; i< renault_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(renault_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "seat") {
        for (var i = 0 ; i< seat_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(seat_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "skoda") {
        for (var i = 0 ; i< skoda_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(skoda_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "suzuki") {
        for (var i = 0 ; i< suzuki_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(suzuki_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "tata") {
        for (var i = 0 ; i< tata_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(tata_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "toyota") {
        for (var i = 0 ; i< toyota_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(toyota_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "volkswagen") {
        for (var i = 0 ; i< volkswagen_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(volkswagen_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
    if (op == "wallyscar") {
        for (var i = 0 ; i< wallyscar_array.length; i++) {
            var option = document.createElement("OPTION");
            text = document.createTextNode(wallyscar_array[i]);
            option.appendChild(text);
            y.insertBefore(option, y.lastChild);
        }
    }
}

</script>
{% endblock %}