{% extends 'auto.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="/about/{{lang}}">About Us</a>
<!--    <a href="#">Claims</a>-->
<a href="/login/{{lang}}">My account</a>
{% else %}{% if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="/about/{{lang}}">معلومات</a>
<!--    <a href="#">مطالب</a>-->
<a href="/login/{{lang}}">حسابي</a>
{% else %}{% if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="/about/{{lang}}">Informations</a>
<!--    <a href="#">Réclamations</a>-->
<a href="/login/{{lang}}">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block style %}
<style>
    .form-check{
        margin-bottom: 0;
    }
    .container-fluid{
        padding-top: 0;
    }
    label h5{
        background-color: white;
    }
    label h6{
        background-color: white;
    }

</style>
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid-auto">
    <div class="content">
        <h1 class="center-text-car">What do you want to guarantee?</h1>
    </div>
    <form class="fifth-form" method="post" action="/voiture/9/{{lang}}">
        <div class="row" style="text-align: center;">
            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="driverplus">
                    <picture>
                        <source class="source _1" srcset="/static/images/driver.png">
                        <img src="/static/images/driver.png" alt="ownimage">
                    </picture>
                    <h5>Driver plus</h5>
                </label>
                <label style="display: none" class="form-check-label without" for="driverplus">
                    Driver plus
                </label>
                <br/>
                <div class="row">
                    <input type = "radio"  onclick="cond_p(1)" name="conducteur_plus" id="conducteur_plus1" value="conducteur_plus_non" onchange="hide('1','1','conducteur_plus')" checked hidden>
                    <label for="conducteur_plus1" class="form-check-label without col-md-4" id="no1" style="background-color:#f39090; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">
                        No
                    </label>
                    <br/>
                    <input type = "radio"  onclick="cond_p(0)" name="conducteur_plus" id="conducteur_plus2" value="conducteur_plus_oui" onchange="hide('1','2','conducteur_plus')" hidden>       
                    <label for="conducteur_plus2" class="form-check-label without col-md-4" id="yes1" style="background-color:#edf3ed; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">
                        Yes
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="brokencar">
                    <picture>
                        <source class="source _2" srcset="/static/images/brokencar.png">
                        <img src="/static/images/brokencar.png" alt="ownimage">
                    </picture>
                    <h5>Damage</h5>
                </label>
                <label style="display: none" class="form-check-label without" for="damage">
                    Damage
                </label>
                <br/>
                <div class="row">
                    <input type = "radio" class="form-check-input with-gap" onclick="dommage(1)" name="damage" id="damage1" value="damage_basique" onchange="hideD('2','1','damage','brokencar')" checked hidden> 
                    <label for="damage1" class="form-check-label without col-md-3" id="no2" style="background-color:#f39090; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 25%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">No</label>
                    <br/>
                    <input type = "radio" class="form-check-input with-gap" onclick="dommage(0)" name="damage" id="damage2" value="damage_col" onchange="hideD('2','2','damage','brokencar')" hidden> 
                    <label for="damage2" class="form-check-label without col-md-3" id="yes2" style="background-color:#edf3ed; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">Collisions</label>
                    <br/>
                    <input type = "radio" class="form-check-input with-gap" onclick="dommage(2)" name="damage" id="damage3" value="damage_tr" onchange="hideD('2','3','damage','brokencar')" hidden>     
                    <label for="damage3" class="form-check-label without col-md-3" id="yes3" style="background-color:#edf3ed; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">All risks</label>
                </div>
            </div>
            
            <div class="form-group col-md-6">
                <label style="display: none;" for="capital_assure_cp" id="text5">
                    <h6>Insured capital</h6>
                </label>
                <select style="display: none;" class="form-control" style="float: right;" name="capital_assure_cp" id="capital_assure_cp">
                    <option>5000DT</option>
                    <option>10000DT</option>
                    <option>15000DT</option>
                    <option>20000DT</option>
                    <option>25000DT</option>
                    <option>30000DT</option>
                    <option>35000DT</option>
                    <option>40000DT</option>
                    <option>45000DT</option> 
                    <option>50000DT</option>                
                </select>
            </div>
            <div class="form-group col-md-6">
                <label style="display: none;" for="capital_assure_d" id="text6"><h6>Insured capital</h6></label>
                <select style="display: none;" class="form-control" style="float: right;" name="capital_assure_d" id="capital_assure_d">
                    <option>500DT</option>
                    <option>1000DT</option>
                    <option>1500DT</option>
                    <option>2000DT</option>
                    <option>2500DT</option>
                    <option>3000DT</option>
                    <option>3500DT</option>
                    <option>4000DT</option>
                    <option>4500DT</option> 
                    <option>5000DT</option>  
                    <option>7000DT</option> 
                    <option>9000DT</option> 
                    <option>10000DT</option>
                    <option>12000DT</option>  
                    <option>15000DT</option>                 
                </select>
                <label style="display: none;" for="franchise" id="text7"><h6>Franchise</h6></label>
                <select style="display: none;" class="form-control" style="float: right;" name="franchise" id="franchise">
                    <option>0%</option>
                    <option>1%</option>
                    <option>2%</option>
                    <option>4%</option>
                    <option>8%</option>
                    <option>10%</option>               
                </select>
            </div>
        
        </div>
        <div class="row">
            <button type="submit" name="vform8" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/voiture/7/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>

</div>
{% else %}{% if lang == "arabe" %}
<div class="arab container-fluid-auto">
    <div class="content">
        <h1 class="center-text-car">شنية تحب تأمن؟</h1>
    </div>
    <form class="fifth-form" method="post" action="/voiture/9/{{lang}}">
        <div class="row" style="text-align: center;">
            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="driverplus">
                    <picture>
                        <source class="source _1" srcset="/static/images/driver.png">
                        <img src="/static/images/driver.png" alt="ownimage">
                    </picture>
                    <h5>تأمين تكميلي للسائق</h5>
                </label>
                <label style="display: none" class="form-check-label without" for="driverplus">
                    تأمين تكميلي للسائق
               </label>
                <br/>
                <div class="row">
                    <input type = "radio" class="form-check-input with-gap" onclick="cond_p(1)" name="conducteur_plus" id="conducteur_plus1" value="conducteur_plus_non" onchange="hide('1','1','conducteur_plus')" checked hidden> 
                    <label for="conducteur_plus1" class="form-check-label without col-md-4" id="no1" style="background-color:#f39090; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">
                        لا
                    </label>
                    <br/>
                    <input type = "radio" class="form-check-input with-gap" onclick="cond_p(0)" name="conducteur_plus" id="conducteur_plus2" value="conducteur_plus_oui" onchange="hide('1','2','conducteur_plus')" hidden>       
                    <label for="conducteur_plus2" class="form-check-label without col-4" id="yes1" style="background-color:#edf3ed; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;"> 
                        نعم
                    </label>
                </div>
            </div>
            
           
            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="brokencar">
                    <picture>
                        <source class="source _2" srcset="/static/images/brokencar.png">
                        <img src="/static/images/brokencar.png" alt="ownimage">
                    </picture>
                    <h5>ضرر</h5>
                </label>
                <label style="display: none" class="form-check-label without" for="damage">
                    ضرر
                </label>
                <br/>
                <div class="row">
                    <input type = "radio" class="form-check-input with-gap" onclick="dommage(1)" name="damage" id="damage1" value="damage_basique" onchange="hideD('2','1','damage','brokencar')" checked hidden> 
                    <label for="damage1" class="form-check-label without col-md-3" id="no2" style="background-color:#f39090; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 25%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">
                        لا
                    </label>
                    <br/>
                    <input type = "radio" class="form-check-input with-gap" onclick="dommage(0)" name="damage" id="damage2" value="damage_col" onchange="hideD('2','2','damage','brokencar')" hidden>  
                    <label for="damage2" class="form-check-label without col-md-3" id="yes2" style="background-color:#edf3ed; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">
                        اصطدامات
                    </label>
                    <br/>
                    <input type = "radio" class="form-check-input with-gap" onclick="dommage(2)" name="damage" id="damage3" value="damage_tr" onchange="hideD('2','3','damage','brokencar')" hidden>       
                    <label for="damage3" class="form-check-label without col-md-3" id="yes3" style="background-color:#edf3ed; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;"> 
                        كل المخاطر
                    </label>
                </div>
            </div>
            
            
            <div class="form-group col-md-6">
                <label style="display: none;" for="capital_assure_cp" id="text5">
                    <h6>راس المال المؤمن</h6>
                </label>
                <select style="display: none;" class="form-control" style="float: right;" name="capital_assure_cp" id="capital_assure_cp">
                    <option>5000DT</option>
                    <option>10000DT</option>
                    <option>15000DT</option>
                    <option>20000DT</option>
                    <option>25000DT</option>
                    <option>30000DT</option>
                    <option>35000DT</option>
                    <option>40000DT</option>
                    <option>45000DT</option> 
                    <option>50000DT</option>                
                </select>
            </div>  
            <div class="form-group col-md-6">
                <label style="display: none;" for="capital_assure_d" id="text6">
                    <h6>راس المال المؤمن</h6>
                </label>
                <select style="display: none;" class="form-control" style="float: right;" name="capital_assure_d" id="capital_assure_d">
                    <option>500DT</option>
                    <option>1000DT</option>
                    <option>1500DT</option>
                    <option>2000DT</option>
                    <option>2500DT</option>
                    <option>3000DT</option>
                    <option>3500DT</option>
                    <option>4000DT</option>
                    <option>4500DT</option> 
                    <option>5000DT</option>  
                    <option>7000DT</option> 
                    <option>9000DT</option> 
                    <option>10000DT</option>
                    <option>12000DT</option>  
                    <option>15000DT</option>                 
                </select>
                <label style="display: none;" for="franchise" id="text7"><h6>إعفاء</h6></label>
                <select style="display: none;" class="form-control" style="float: right;" name="franchise" id="franchise">
                    <option>0%</option>
                    <option>1%</option>
                    <option>2%</option>
                    <option>4%</option>
                    <option>8%</option>
                    <option>10%</option>
                        
                </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" name="vform8" class="btn btn-primary col-2">التالي</button>
        </div>
    </form>
    <div class="back"><a href="/voiture/7/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang == "french" %}
<div class="french container-fluid-auto">
    <div class="content">
        <h1 class="center-text-car">Que voulez-vous garantir?</h1>
    </div>
    <form class="fifth-form" method="post" action="/voiture/9/{{lang}}">
        <div class="row" style="text-align: center;">
            <div class="form-group col-md-6 " >
                <label class="form-check-label with_img" for="driverplus">
                    <picture>
                        <source class="source _1" srcset="/static/images/driver.png">
                        <img src="/static/images/driver.png" alt="ownimage">
                    </picture>
                    <h5>Conducteur plus</h5>
                </label>
                <label style="display: none" class="form-check-label without" for="driverplus">
                    Conducteur plus
                </label>
                <br/>
                <div class="row">
                    <input type = "radio" class="form-check-input with-gap" onclick="cond_p(1)" name="conducteur_plus" id="conducteur_plus1" value="conducteur_plus_non" onchange="hide('1','1','conducteur_plus')" checked hidden> 
                    <label for="conducteur_plus1" class="form-check-label without col-md-4" id="no1" style="background-color:#f39090; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">Non</label>
                    <br/>
                    <input type = "radio" class="form-check-input with-gap" onclick="cond_p(0)" name="conducteur_plus" id="conducteur_plus2" value="conducteur_plus_oui" onchange="hide('1','2','conducteur_plus')" hidden>       
                    <label for="conducteur_plus2" class="form-check-label without col-md-4" id="yes1" style="background-color:#edf3ed; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">Oui</label>
                </div>
            </div>       
            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="brokencar">
                    <picture>
                        <source class="source _2" srcset="/static/images/brokencar.png">
                        <img src="/static/images/brokencar.png" alt="ownimage">
                    </picture>
                    <h5>Dommage</h5>
                </label>
                <label style="display: none" class="form-check-label without" for="damage">
                    Dommage
                </label>
                <br/>      
                <div class="row">
                    <input type = "radio" class="form-check-input with-gap" onclick="dommage(1)" name="damage" id="damage1" value="damage_basique" onchange="hideD('2','1','damage','brokencar')" checked hidden>
                    <label for="damage1" class="form-check-label without col-md-3" id="no2" style="background-color:#f39090; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 25%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">Non</label>
                    <br/>
                    <input type = "radio" class="form-check-input with-gap" onclick="dommage(0)" name="damage" id="damage2" value="damage_col" onchange="hideD('2','2','damage','brokencar')" hidden>
                    <label for="damage2" class="form-check-label without col-md-3" id="yes2" style="background-color:#edf3ed; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">Collisions</label>
                    <br/>
                    <input type = "radio" class="form-check-input with-gap" onclick="dommage(2)" name="damage" id="damage3" value="damage_tr" onchange="hideD('2','3','damage','brokencar')" hidden>       
                    <label for="damage3" class="form-check-label without col-md-3" id="yes3" style="background-color:#edf3ed; color: #4a4a4a; 
                    border: 1px solid #4a4a4a; width: 29%; border-radius: 5px; height: 35px; 
                    padding: 6px; margin: auto;">Ts risques</label>
                </div>
            </div>
        
            <div class="form-group col-md-6">
                <label style="display: none;" for="capital_assure_cp" id="text5"><h6>Capital assuré</h6></label>
                <select style="display: none;" class="form-control" style="float: right;" name="capital_assure_cp" id="capital_assure_cp">
                    <option>5000DT</option>
                    <option>10000DT</option>
                    <option>15000DT</option>
                    <option>20000DT</option>
                    <option>25000DT</option>
                    <option>30000DT</option>
                    <option>35000DT</option>
                    <option>40000DT</option>
                    <option>45000DT</option> 
                    <option>50000DT</option>                
                </select>
            </div>
            <div class="form-group col-md-6">
                <label style="display: none;" for="capital_assure_d" id="text6"><h6>Capital assuré</h6></label>
                <select style="display: none;" class="form-control" style="float: right;" name="capital_assure_d" id="capital_assure_d">
                    <option>500DT</option>
                    <option>1000DT</option>
                    <option>1500DT</option>
                    <option>2000DT</option>
                    <option>2500DT</option>
                    <option>3000DT</option>
                    <option>3500DT</option>
                    <option>4000DT</option>
                    <option>4500DT</option> 
                    <option>5000DT</option>  
                    <option>7000DT</option> 
                    <option>9000DT</option> 
                    <option>10000DT</option>
                    <option>12000DT</option>  
                    <option>15000DT</option>                 
                </select>
                <label style="display: none;" for="franchise" id="text7"><h6>Franchise</h6></label>
                <select style="display: none;" class="form-control" style="float: right;" name="franchise" id="franchise">
                    <option>0%</option>
                    <option>1%</option>
                    <option>2%</option>
                    <option>4%</option>
                    <option>8%</option>
                    <option>12%</option>
                    <option>16%</option>
                    <option>20%</option>                
                </select>
            </div>
                
        </div>
        <div class="row">
            <button type="submit" name="vform8" class="btn btn-primary col-2">Suivant</button>
        </div>
    </form>
    <div class="back"><a href="/voiture/7/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>


{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block scripts %}

<script>


function cond_p(x)
{
    if(x==0)
    {document.getElementById('text5').style.display='block'
    document.getElementById('capital_assure_cp').style.display='block';
    }
    else
    {document.getElementById('text5').style.display='none'
    document.getElementById('capital_assure_cp').style.display='none';
    }
    return;
}


function dommage(x)
{
    if(x==0)
    {document.getElementById('text7').style.display='none'
    document.getElementById('franchise').style.display='none'
    document.getElementById('text6').style.display='block'
    document.getElementById('capital_assure_d').style.display='block';
    }
    else if(x==2) 
    {document.getElementById('text7').style.display='block'
    document.getElementById('franchise').style.display='block'
    document.getElementById('text6').style.display='none'
    document.getElementById('capital_assure_d').style.display='none';
    }
    else
    {document.getElementById('text6').style.display='none'
    document.getElementById('capital_assure_d').style.display='none'
    document.getElementById('text7').style.display='none'
    document.getElementById('franchise').style.display='none';
    }
    return;
}

function hide(x,y,z) {
    var btnNo1 = document.querySelector('#no1');
    var btnYes1 = document.querySelector('#yes1');
    if (document.querySelector('#conducteur_plus2').checked) {
        btnYes1.style.backgroundColor = '#8bee8b';
        btnNo1.style.backgroundColor = '#f3e8e8';
    }
    else {
        btnNo1.style.backgroundColor = '#f39090';
        btnYes1.style.backgroundColor = '#edf3ed';
    }
    var valeur = document.getElementById(z+y).getAttribute('value')
    var subs = document.querySelector("._" + x).attributes[1].value
    var sources = document.querySelectorAll(".source")
    for (var i = 0; i <2; i++) {
        val = sources[i].attributes[1].value;
        if (valeur == z+'_non') {
            sources[i].attributes[1].value = val.replace("-colored", "");
        }
        if (valeur == z+'_oui') {
            document.querySelector("._" + x).attributes[1].value = subs.replace(".png", "") + "-colored" + ".png";    
        }
    }
}

function hideD(x,y,z,w) {
    
    var btnNo2 = document.querySelector('#no2');
    var btnYes2 = document.querySelector('#yes2');
    var btnYes3 = document.querySelector('#yes3');
    if (document.querySelector('#damage2').checked) {
        btnYes2.style.backgroundColor = '#8bee8b';
        btnYes3.style.backgroundColor = '#edf3ed';
        btnNo2.style.backgroundColor = '#f3e8e8';
    }
    else if (document.querySelector('#damage3').checked){
        btnNo2.style.backgroundColor = '#f3e8e8';
        btnYes2.style.backgroundColor = '#edf3ed';
        btnYes3.style.backgroundColor = '#8bee8b';
    }
    else {
        btnNo2.style.backgroundColor = '#f39090';
        btnYes2.style.backgroundColor = '#edf3ed';
        btnYes3.style.backgroundColor = '#edf3ed';
    }
    var valeur = document.getElementById(z+y).getAttribute('value')
    var subs = document.querySelector("._" + x).attributes[1].value
    var sources = document.querySelectorAll(".source")
    for (var i = 0; i <3; i++) {
        val = sources[i].attributes[1].value;
        if (valeur == z+'_basique') {
            sources[i].attributes[1].value = val.replace("-colored", "");
        }
        
        if ((valeur == z+'_col') || (valeur == z+'_tr')) {
            if (subs == "/static/images/"+w+".png") {
                document.querySelector("._" + x).attributes[1].value = subs.replace(".png", "") + "-colored" + ".png";    
                }
        }
    }
}

</script>
{% endblock %}
                

 