{% extends 'sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="#">About Us</a>
<a href="#">Claims</a>
<a href="#">My account</a>
{% else %}{% if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="#">معلومات</a>
<a href="#">مطالب</a>
<a href="#">حسابي</a>
{% else %}{% if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="#">Informations</a>
<a href="#">Réclamations</a>
<a href="#">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block style %}
<style>
    .form-check{
        margin-bottom: 0;
    }
    .container-fluid{
        padding-top: 0;
    }
    label h2{
        background-color: white;
    }

</style>
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">What do you want to guarantee?</h1>
    </div>
    <form class="fifth-form" method="post" action="/voiture/8/{{lang}}">
        <div class="row" style="text-align: center;">

            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="brisglace">
                    <picture>
                        <source class="source _1" srcset="/static/images/windshield.png">
                        <img src="/static/images/windshield.png" alt="windsheild">
                    </picture>
                    <h5>Broken glass</h5>
                </label>
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="bris_g(1)" name="bris_glace" id="bris_glace" value="bris_glace_non" onchange="hide('0')" checked> No
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="bris_g(0)" name="bris_glace" id="bris_glace" value="bris_glace_oui" onchange="hide('1')"> Yes      
                <label style="display: none" class="form-check-label without" for="brisglace">
                    Broken glass
                </label>
            </div>

            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="radiocass">
                    <picture>
                        <source class="source _1" srcset="/static/images/carradio.png">
                        <img src="/static/images/carradio.png" alt="ownimage">
                    </picture>
                    <h5>Tape player</h5>
                </label>
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="radio_c(1)" name="radio_ca7" id="radio_ca7" value="radio_ca7" checked> No
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="radio_c(0)" name="radio_ca7" id="radio_ca7" value="radio_ca7">  Yes     
                <label style="display: none" class="form-check-label without" for="radiocass">
                    Tape player
                </label>
            </div>
            
            <div class="form-group col-md-6">
                <label style="display: none;" id="text3" for="valeur_bg">Broken glass value</label>
                <input style="display: none;" type="text" style="float: right;" class="form-control" name="valeur_bg" id="valeur_bg" value="{{valeur_bg|string}}"
                placeholder="Exp: 500DT">
            </div>
            <div class="form-group col-md-6">
                <label style="display: none;" id="text4" for="valeur_bg">Tape player value</label>
                <input style="display: none;" type="text" style="float: right;" class="form-control" name="valeur_rc" id="valeur_rc" value="{{valeur_rc|string}}"
                placeholder="Exp: 500DT">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="vform7" class="btn btn-primary col-2">Next</button>
        </div>
        
    </form>
    <div class="back"><a href="/voiture/6/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>

</div>
{% else %}{% if lang == "arabe" %}
<div class="arab container-fluid">
    <div class="content">
        <h1 class="center-text">شنية تحب تأمن؟</h1>
    </div>
    <form class="fifth-form" method="post" action="/voiture/8/{{lang}}">
        <div class="row" style="text-align: center;">

            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="brisglace">
                    <picture>
                        <source class="source _1" srcset="/static/images/windshield.png">
                        <img src="/static/images/windshield.png" alt="ownimage">
                    </picture>
                    <h5>بلار مكسور</h5>
                </label>
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="bris_g(1)" name="bris_glace" id="bris_glace" value="bris_glace_non" onchange="hide('0')" checked> لا
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="bris_g(0)" name="bris_glace" id="bris_glace" value="bris_glace_oui" onchange="hide('1')"> نعم      
                <label style="display: none" class="form-check-label without" for="brisglace">
                    بلار مكسور
                </label>
            </div>

            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="radiocass">
                    <picture>
                        <source class="source _1" srcset="/static/images/carradio.png">
                        <img src="/static/images/carradio.png" alt="ownimage">
                    </picture>
                    <h5>راديو كاست</h5>
                </label>
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="radio_c(1)" name="radio_ca7" id="radio_ca7" value="radio_ca7" checked> لا
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="radio_c(0)" name="radio_ca7" id="radio_ca7" value="radio_ca7"> نعم      
                <label style="display: none" class="form-check-label without" for="radiocass">
                     راديو كاست
                </label>
            </div>
            <div class="form-group col-md-6">
                <label style="display: none;" id="text3" for="valeur_bg">قيمة البلار المكسور</label>
                <input style="display: none;" type="text" style="float: right;" class="form-control" name="valeur_bg" id="valeur_bg" value="{{valeur_bg|string}}"
                placeholder="500DT : مثال">
            </div>
            <div class="form-group col-md-6">
                <label style="display: none;" id="text4" for="valeur_bg">قيمة راديو كاست</label>
                <input style="display: none;" type="text" style="float: right;" class="form-control" name="valeur_rc" id="valeur_rc" value="{{valeur_rc|string}}"
                placeholder="500DT : مثال">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="vform7" class="btn btn-primary col-2">التالي</button>
        </div>
    </form>
    <div class="back"><a href="/voiture/6/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang == "french" %}
<div class="french container-fluid">
    <div class="content">
        <h1 class="center-text">Que voulez-vous garantir?</h1>
    </div>
    <form class="fifth-form" method="post" action="/voiture/8/{{lang}}">
        <div class="row" style="text-align: center;">
            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="brisglace">
                    <picture>
                        <source class="source _1" srcset="/static/images/windshield.png">
                        <img src="/static/images/windshield.png" alt="ownimage">
                    </picture>
                    <h5>Bris de glace</h5>
                </label>
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="bris_g(1)" name="bris_glace" id="bris_glace" value="bris_glace_non" onchange="hide('0')" checked> Non
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="bris_g(0)" name="bris_glace" id="bris_glace" value="bris_glace_oui" onchange="hide('1')"> Oui      
                <label style="display: none" class="form-check-label without" for="brisglace">
                    Bris de glace
                </label>
            </div>

            <div class="form-group col-md-6">
                <label class="form-check-label with_img" for="radiocass">
                    <picture>
                        <source class="source _1" srcset="/static/images/carradio.png">
                        <img src="/static/images/carradio.png" alt="ownimage">
                    </picture>
                    <h5>Radio cassette</h5>
                </label>
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="radio_c(1)" name="radio_ca7" id="radio_ca7" value="radio_ca7" checked> Non
                <br/>
                <input type = "radio" class="form-check-input with-gap" onclick="radio_c(0)" name="radio_ca7" id="radio_ca7" value="radio_ca7"> Oui      
                <label style="display: none" class="form-check-label without" for="radiocass">
                    Radio cassette
                </label>
            </div>

            <div class="form-group col-md-6">
                <label style="display: none;" id="text3" for="valeur_bg">Valeur de bris de glace</label>
                <input style="display: none;" type="text" style="float: right;" class="form-control" name="valeur_bg" id="valeur_bg" value="{{valeur_bg|string}}"
                placeholder="Exp: 500DT">
            </div>
            <div class="form-group col-md-6">
                <label style="display: none;" id="text4" for="valeur_bg">Valeur de radio cassette</label>
                <input style="display: none;" type="text" style="float: right;" class="form-control" name="valeur_rc" id="valeur_rc" value="{{valeur_rc|string}}"
                placeholder="Exp: 500DT">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="vform7" class="btn btn-primary col-2">Suivant</button>
        </div>
    </form>
    <div class="back"><a href="/voiture/6/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block scripts %}

<script>

function bris_g(x)
{
    if(x==0)
    {document.getElementById('text3').style.display='block'
    document.getElementById('valeur_bg').style.display='block';
    }
    else
    {document.getElementById('text3').style.display='none'
    document.getElementById('valeur_bg').style.display='none';
    }
    return;
}
function radio_c(x)
{
    if(x==0)
    {document.getElementById('text4').style.display='block'
    document.getElementById('valeur_rc').style.display='block';
    }
    else
    {document.getElementById('text4').style.display='none'
    document.getElementById('valeur_rc').style.display='none';
    }
    return;
}

</script>

{% endblock %}

                
                


