{% extends 'sign.html' %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='/static/styles/js/app.js') }}"></script>-->
{% endblock %}
{% block style %}
<style>
    .list-group-item{
        border: 0px;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .container-fluid{
        padding-top: 0;
    }
    .form-check-label{
        font-weight: 900;
        background-color: white
    }
</style>
{% endblock %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
    {% if lang == "english" %}
        <a href="/home/english">Home</a>
        <a href="#">About Us</a>
        <!--    <a href="#">Claims</a>-->
        <a href="#">My account</a>
    {% else %}{% if lang =="arabe" %}
        <a href="/home/arabe">الرئيسية</a>
        <a href="#">معلومات</a>
        <!--    <a href="#">مطالب</a>-->
        <a href="#">حسابي</a>
    {% else %}{% if lang=="french" %}
        <a href="/home/french">Acceuil</a>
        <a href="#">Informations</a>
        <!--    <a href="#">Réclamations</a>-->
        <a href="#">Mon compte</a>
    {% endif %}
    {% endif %}
    {% endif %}
{% endblock %}
{% block dropdown %}
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/signup/{{nbr}}/arabe">Ar</a>
    <a class="dropdown-item" href="/signup/{{nbr}}/french">Fr</a>
    <a class="dropdown-item" href="/signup/{{nbr}}/english">Eng</a>
</div>
{% endblock %}

{% block lang %}
    {{lang}}
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
    {% if lang == "english" %}
        <div class="english container-fluid">
            <div class="content">
                <h1 class="center-text">We need more informations about your address!</h1>
            </div>
            <form id="third-form" method="post" action="/signup/4/{{lang}}">
                <div class="row">
                    <div class="form-group col-md-9" id="street">
                        <input type="text" style="float: right;" class="form-control" name="adresse" id="adresse"
                               placeholder="Street adress ">
                    </div>
                    <div class="form-group col-md-3" id="unit">
                        <input type="text" style="float: left" class="form-control" name="apt_unit" disabled id="apt_unit" value="{{apt_unit|string}}"
                               placeholder="APT/UNIT #">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12" >
                        <input type="text" class="form-control" name="city" id="city" value="{{city|string}}" disabled placeholder="City">
                    </div>
                </div>
                <div class="row" style="position: relative">
                    <div class="form-group col-md-5" >
                        <input type="text" class="form-control" name="state" id="state" value="{{state|string}}" disabled placeholder="State">
                    </div>
                    <div class="form-group col-md-7" >
                        <input type="text" class="form-control" disabled name="code_postal" id="zip_code" value="{{code_postal|string}}" placeholder="Zip Code">
                    </div>
                    <a href="#" style="
                        display: none;
                        z-index: 1061;
                        border: 1px solid #ec182cc9;
                        padding: 0 5px;
                        border-radius: 4px;
                        background: #ffffffc7;
                        color: brown;" data-toggle="popover" id="clickme">click me
                    </a>
                </div>
                <div class="form-check" style="text-align: left">
                    <input type="checkbox" class="form-check-input" name="under_construction" id="exampleCheck1" value="under_construction">
                    <label id="construction" class="form-check-label" for="exampleCheck1">This home is still under construction</label>
                </div>
                <div class="row" >
                    <button type="submit" name="form3" class="btn btn-primary col-2">Next</button>
                </div>
            </form>
            <div class="back"><a href="/signup/2/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>

        </div>
    {% else %}{% if lang =="arabe" %}
        <div class="arab container-fluid">
            <div class="content">
                <h1 class="center-text">نستحقو اكثر تفاصيل</h1>
            </div>
            <form id="third_form" method="post" action="/signup/4/{{lang}}">
                <div class="row">
                    <div class="form-group col-md-9" id="street">
                        <input type="text" style="float: right;" class="form-control" name="adresse" id="adresse"
                               placeholder="الشّارع">
                    </div>
                    <div class="form-group col-md-3" id="unit">
                        <input type="text" style="float: left" class="form-control" disabled name="apt_unit" id="apt_unit" value="{{apt_unit|string}}"
                               placeholder="رقم المنزل #">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12" >
                        <input type="text" class="form-control" name="city" id="city" disabled placeholder="المدينة" value="{{city|string}}">
                    </div>
                </div>
                <div class="row" style="position: relative">
                    <div class="form-group col-md-5" >
                        <input type="text" class="form-control" name="state" id="state" disabled placeholder="الولاية" value="{{state|string}}">
                    </div>
                    <div class="form-group col-md-7" >
                        <input type="text" class="form-control" disabled name="code_postal" id="zip_code" value="{{code_postal|string}}"placeholder="الرقم البريدي">
                    </div>
                    <a href="#" style="
                        display: none;
                        z-index: 1061;
                        border: 1px solid #ec182cc9;
                        padding: 0 5px;
                        border-radius: 4px;
                        background: #ffffffc7;
                        color: brown;" data-toggle="popover" id="clickme">click me
                    </a>
                </div>
                <div class="form-check" style="text-align: left">
                    <input type="checkbox" class="form-check-input" name="under_construction" value="under_construction" id="exampleCheck1">
                    <label id="construction" class="form-check-label"  for="exampleCheck1">هذا المنزل لا يزال قيد الإنشاء</label>
                </div>
                <div class="row" >
                    <button type="submit" name="form3" class="btn btn-primary col-2">التالي</button>
                </div>
            </form>
            <div class="back"><a href="/signup/2/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
        </div>
    {% else %}{% if lang=="french" %}
        <div class="french container-fluid">
            <div class="content">
                <h1 class="center-text">On a besoin de plus d'informations sur vous!</h1>
            </div>
            <form id="3rd_form" method="post" action="/signup/4/{{lang}}">
                <div class="row">
                    <div class="form-group col-md-9" id="street">
                        <input type="text" style="float: right;" class="form-control" name="adresse" id="adresse"
                               placeholder="Adresse rue">
                    </div>
                    <div class="form-group col-md-3" id="unit">
                        <input type="text" style="float: left" class="form-control" disabled name="apt_unit" id="code postal" value="{{apt_unit|string}}"
                               placeholder="APT/UNIT #">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12" >
                        <input type="text" class="form-control" name="city" disabled id="city" value="{{city|string}}" placeholder="Ville">
                    </div>
                </div>
                <div class="row" style="position: relative">
                    <div class="form-group col-md-5" >
                        <input type="text" class="form-control" name="state" disabled id="state" value="{{state|string}}" placeholder="Gouvernorat">
                    </div>
                    <div class="form-group col-md-7" >
                        <input type="text" class="form-control" disabled name="code_postal" id="zip_code" value="{{code_postal|string}}" placeholder="Zip Code">
                    </div>
                    <a href="#" style="
                        display: none;
                        z-index: 1061;
                        border: 1px solid #ec182cc9;
                        padding: 0 5px;
                        border-radius: 4px;
                        background: #ffffffc7;
                        color: brown;" data-toggle="popover" id="clickme">click me
                    </a>
                </div>
                <div class="form-check" style="text-align: left">
                    <input type="checkbox" class="form-check-input" value="under_construction" name="under_construction" id="exampleCheck1">
                    <label id="construction" class="form-check-label" for="exampleCheck1">Cette maison est encore en construction</label>
                </div>
                <div class="row">
                    <button type="submit" name="form3" class="btn btn-primary col-2">Suivant</button>
                </div>
            </form>
            <div class="back"><a href="/signup/2/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>

        </div>
    {% endif %}
    {% endif %}
    {% endif %}
<div id="popover-content" style="display: none">
    <ul class="list-group custom-popover">
        <li class="list-group-item">Airport Pickup</li>
        <li class="list-group-item">Food and Beverage</li>
        <li class="list-group-item">Yoga Class</li>
    </ul>
</div>
{% endblock %}
{% block scripts %}
<script>
    // normalement fi app.js
    $(function () {
        document.getElementById('clickme').addEventListener('click', function (event) {
            event.preventDefault();

        })
        $('#zip_code').on('input',function(e){
            if ($(this).val().length === 4){
                req = $.ajax({
                    url: '/code_postal',
                    type: 'POST',
                    data: {code: $(this).val()}
                });

                req.done(function (data) {
                    var tab = data.code_list;
                    $('#clickme').attr("data-original-title","liste des codes postaux")
                        .attr("data-placement","bottom")
                        .attr("data-trigger","focus");
                    // create liste
                    $('#popover-content').remove();
                    $('.container-fluid').after($('<div id="popover-content" style="display: none"><ul class="list-group custom-popover"></ul></div>'));
                    $.each(tab, function (index, value) {

                        $('.custom-popover').append($('<li class="list-group-item">'+value+'</li>'))

                    })
                    $('.custom-popover').addClass('anyClass')
                    document.querySelector('#clickme').style.display="unset";
                    // create popup div
                })
            }
        });
        $('[data-toggle="popover"]').popover({
            html: true,
            // trigger: 'focus',
            content: function() {
                return $('#popover-content').html();
            }
        });
    });
</script>
{% endblock %}