{% extends 'sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="#">About Us</a>
<a href="#">Claims</a>
<a href="#">My account</a>
{% else %}{% if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="#">معلومات</a>
<a href="#">مطالب</a>
<a href="#">حسابي</a>
{% else %}{% if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="#">Informations</a>
<a href="#">Réclamations</a>
<a href="#">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{% if lang == "english" %}Eng
{% else %}{% if lang =="arabe" %}Ar
{% else %}{% if lang=="french" %}Fr
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">Do you rent or own it?</h1>
    </div>
    <form class="fifth-form" method="post" action="/signup/6/{{lang}}">
        <div class="row">
            <div  class="form-check col-md-4">
                <label class="form-check-label with_img" for="alarm">
                    <picture>
                        <source class="source _1" srcset="/static/images/alarm.png">
                        <img style="width: 50px;margin-top: 30px;margin-bottom: 20px;" src="/static/images/alarm.png" alt="ownimage" >
                    </picture>
                    <h2>alarm system</h2>
                </label>
                <input onchange="hide('1','alarm')" type="checkbox" class="form-check-input with-gap" id="alarm" value="alarm" name="env">
                <label style="display: none" class="form-check-label without" for="alarm">
                    alarm system
                </label>

            </div>
            <div class="form-check col-md-4">
                <label class="form-check-label with_img" for="clim">
                    <picture>
                        <source class="source _2" srcset="/static/images/clim.png">
                        <img src="/static/images/clim.png" alt="ownimage" >
                    </picture>
                    <h2>air conditioner</h2>
                </label>
                <input onchange="hide('2','clim')" type="checkbox" class="form-check-input with-gap" id="clim" value="clim" name="env">
                <label style="display: none" class="form-check-label without" for="clim">
                    air conditioner
                </label>

            </div>
            <div class="form-check col-md-4">
                <label class="form-check-label with_img" for="chauf">
                    <picture>
                        <source class="source _3" srcset="/static/images/chauf.png">
                        <img src="/static/images/chauf.png" alt="ownimage" >
                    </picture>
                    <h2>heating</h2>
                </label>
                <input onchange="hide('3','chauf')" type="checkbox" class="form-check-input with-gap" id="chauf" value="chauf" name="env">
                <label style="display: none" class="form-check-label without" for="chauf">
                    heating
                </label>

            </div>
        </div>
        <div class="row" >
            <button type="submit" name="form5" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/signup/4/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid">
    <div class="content">
        <h1 class="center-text">مِلْك ولّا كراء؟</h1>
    </div>
    <form class="fifth-form" method="post" action="/signup/6/{{lang}}">
        <div class="row">
            <div  class="form-check col-md-4">
                <label class="form-check-label with_img" for="alarm">
                    <picture>
                        <source class="source _1" srcset="/static/images/alarm.png">
                        <img style="width: 50px;margin-top: 30px;margin-bottom: 20px;" src="/static/images/alarm.png" alt="ownimage" >
                    </picture>
                    <h2>نظام إنذار</h2>
                </label>
                <input onchange="hide('1','alarm')" type="checkbox" class="form-check-input with-gap" id="alarm" value="alarm" name="env">
                <label style="display: none" class="form-check-label without" for="alarm">
                    نظام إنذار
                </label>

            </div>
            <div class="form-check col-md-4">
                <label class="form-check-label with_img" for="clim">
                    <picture>
                        <source class="source _2" srcset="/static/images/clim.png">
                        <img src="/static/images/clim.png" alt="ownimage" >
                    </picture>
                    <h2>مكيف الهواء</h2>
                </label>
                <input onchange="hide('2','clim')" type="checkbox" class="form-check-input with-gap" id="clim" value="clim" name="env">
                <label style="display: none" class="form-check-label without" for="clim">
                    مكيف الهواء
                </label>

            </div>
            <div class="form-check col-md-4">
                <label class="form-check-label with_img" for="chauf">
                    <picture>
                        <source class="source _3" srcset="/static/images/chauf.png">
                        <img src="/static/images/chauf.png" alt="ownimage" >
                    </picture>
                    <h2>مسخن</h2>
                </label>
                <input onchange="hide('3','chauf')" type="checkbox" class="form-check-input with-gap" id="chauf" value="chauf" name="env">
                <label style="display: none" class="form-check-label without" for="chauf">
                    مسخن
                </label>

            </div>
        </div>
        <div class="row" >
            <button type="submit" name="form5" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/signup/4/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div class="content">
        <h1 class="center-text">Vous le possédez ou c'est loué ?</h1>
    </div>
    <form class="fifth-form" method="post" action="/signup/6/{{lang}}">
        <div class="row">
            <div  class="form-check col-md-4">
                <label class="form-check-label with_img" for="alarm">
                    <picture>
                        <source class="source _1" srcset="/static/images/alarm.png">
                        <img style="width: 50px;margin-top: 30px;margin-bottom: 20px;" src="/static/images/alarm.png" alt="ownimage" >
                    </picture>
                    <h2>systéme d'alarme</h2>
                </label>
                <input onchange="hide('1','alarm')" type="checkbox" class="form-check-input with-gap" id="alarm" value="alarm" name="env">
                <label style="display: none" class="form-check-label without" for="alarm">
                    systéme d'alarme
                </label>

            </div>
            <div class="form-check col-md-4">
                <label class="form-check-label with_img" for="clim">
                    <picture>
                        <source class="source _2" srcset="/static/images/clim.png">
                        <img src="/static/images/clim.png" alt="climage" >
                    </picture>
                    <h2>climatiseur</h2>
                </label>
                <input onchange="hide('2','clim')" type="checkbox" class="form-check-input with-gap" id="clim" value="clim" name="env">
                <label style="display: none" class="form-check-label without" for="clim">
                    climatiseur
                </label>

            </div>
            <div class="form-check col-md-4">
                <label class="form-check-label with_img" for="chauf">
                    <picture>
                        <source class="source _3" srcset="/static/images/chauf.png">
                        <img src="/static/images/chauf.png" alt="chaufimage" >
                    </picture>
                    <h2>chauffage</h2>
                </label>
                <input onchange="hide('3','chauf')" type="checkbox" class="form-check-input with-gap" id="chauf" value="chauf" name="env">
                <label style="display: none" class="form-check-label without" for="chauf">
                    chauffage
                </label>

            </div>
        </div>
        <div class="row" >
            <button type="submit" name="form5" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/signup/4/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block scripts %}
<script>
    function hide(x,y) {
        var subs=document.querySelector("._"+x);
        var check=document.querySelector("#"+y)
        console.log(subs.attributes[1].value)
        if (check.checked){
            subs.attributes[1].value=subs.attributes[1].value.replace(".png","")+"-colored"+".png";
        }
        if (!check.checked) {
            subs.attributes[1].value=subs.attributes[1].value.replace("-colored","");
        }
    }
</script>
{% endblock %}