{% extends 'sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="/about/{{lang}}">About Us</a>
<!--    <a href="#">Claims</a>-->
<a href="/login/{{lang}}">My account</a>
{% else %}{%if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="/about/{{lang}}">معلومات</a>
<!--    <a href="#">مطالب</a>-->
<a href="/login/{{lang}}">حسابي</a>
{% else %}{%if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="about/{{lang}}">Informations</a>
<!--    <a href="#">Réclamations</a>-->
<a href="/login/{{lang}}">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block body %}
{% if error %}
{% if lang == "arabe" %}
<div class="alert alert-dark"><p dir="rtl">{{error}}</p></div>
{% else %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">Enter your password!</h1>
    </div>
    <form class="first_form" method="post" action="/signup/14/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="password" class="form-control pwdc" name="password" id="pwd"
                       placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="password" class="form-control" name="confirm-password" id="cpwd"
                       placeholder="Confirm password">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form13" class="btn btn-primary col-2">Go</button>
            <!--                    <a href="/signup/2/{{lang}}" class="btn btn-primary form-btn col-2">Go</a>-->
        </div>
    </form>
    <div class="back"><a href="/signup/12/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid">
    <div class="content">
        <h1 class="center-text">أدخل كلمه المرور</h1>
    </div>
    <form class="first_form" method="post" action="/signup/14/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="password" class="form-control" name="password" id="pwd"
                       placeholder="كلمه المرور">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="password" class="form-control" name="confirm-password" id="cpwd"
                       placeholder="تأكيد كلمة المرور">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form13" class="btn btn-primary col-2">التالي</button>
        </div>
    </form>
    <div class="back"><a href="/signup/12/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>
</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div class="content">
        <h1 class="center-text">Entrez votre mot de passe</h1>
    </div>
    <form class="first_form" method="post" action="/signup/14/{{lang}}">
        <div class="row">
            <div class="form-group col-12 ">
                <input type="password" class="form-control" name="password" id="pwd"
                       placeholder="Mot de passe">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 ">
                <input type="password" class="form-control" name="confirm-password" id="cpwd"
                       placeholder="Confirmez votre mot de passe">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form13" class="btn btn-primary col-2">Suivant</button>
        </div>
    </form>
    <div class="back"><a href="/signup/12/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a>
    </div>

</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block scripts %}
<script>
    verify = document.getElementById("cpwd");
    myInput = document.getElementById("pwd");
    verify.onkeyup = function(){
        if (verify.value === myInput.value) {
            verify.classList.remove("pwdc");
            verify.classList.add("pwdv");
        } else {
            verify.classList.add("pwdc");
            verify.classList.remove("pwdv");
        }
    }

    myInput.onkeyup = function() {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        var upperCaseLetters = /[A-Z]/g;
        var special = /[@#$%^&+=]/g;
        var numbers = /[0-9]/g;
        if ((myInput.value.match(lowerCaseLetters)) && (myInput.value.match(upperCaseLetters)) && (myInput.value.match(special)) && (myInput.value.match(numbers)) && (myInput.value.length >= 8)) {
            myInput.classList.remove("pwdc");
            myInput.classList.add("pwdv");
        } else {
            myInput.classList.add("pwdc");
            myInput.classList.remove("pwdv");
        }
    }
</script>
{% endblock %}