{% extends 'sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
    {% if lang == "english" %}
        <a href="/home/english">Home</a>
        <a href="#">About Us</a>
        <!--    <a href="#">Claims</a>-->
        <a href="#">My account</a>
    {% else %}{%if lang =="arabe" %}
        <a href="/home/arabe">الرئيسية</a>
        <a href="#">معلومات</a>
        <!--    <a href="#">مطالب</a>-->
        <a href="#">حسابي</a>
    {% else %}{%if lang=="french" %}
        <a href="/home/french">Acceuil</a>
        <a href="#">Informations</a>
        <!--    <a href="#">Réclamations</a>-->
        <a href="#">Mon compte</a>
    {% endif %}
    {% endif %}
    {% endif %}
{% endblock %}
{% block dropdown %}
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/signup/{{nbr}}/arabe">Ar</a>
    <a class="dropdown-item" href="/signup/{{nbr}}/french">Fr</a>
    <a class="dropdown-item" href="/signup/{{nbr}}/english">Eng</a>
</div>
{% endblock %}
{% block dropdown2 %}
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/signup/{{nbr}}/arabe">Ar</a>
    <a class="dropdown-item" href="/signup/{{nbr}}/french">Fr</a>
    <a class="dropdown-item" href="/signup/{{nbr}}/english">Eng</a>
</div>
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block style %}
<style>
    .container-fluid{
        padding-top: 50px;
    }
</style>
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">You need to enter your home address first!</h1>
    </div>
    <form class="second_form" autocomplete="off" method="post" action="/signup/3/{{lang}}">
        <div class="row">
            <div class="form-group col-md-7">
                <input type="text" style="float: right;" class="form-control" name="adresse" id="adresse" value="{{adresse|string}}"
                       placeholder="Street adress ,City ,State">
            </div>
            <div class="form-group col-md-5">
                <input type="text" style="float: left" class="form-control" name="apt_unit" id="apt_unit" value="{{apt_unit|string}}"
                       placeholder="APT/UNIT #">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form2" class="btn btn-primary col-2">Next</button>
            <!--            <a href="/signup/3/{{lang}}" class="btn btn-primary form-btn col-2">Next</a>-->
        </div>
    </form>
    <div class="back"><a href="/signup/1/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid">
    <div class="content">
        <h1 class="center-text">!اكتب ادريسة الدّار</h1>
    </div>
    <form class="second_form" autocomplete="off" method="post" action="/signup/3/{{lang}}">
        <div class="row">
            <div class="form-group col-md-7 ">
                    <input type="text" style="float: right;" class="form-control" name="adresse" id="adresse"
                           value="{{adresse|string}}"
                           placeholder="منطقه ، المدينة ،الولاية">
            </div>
            <div class="form-group col-md-5">
                <input type="text" style="float: left" class="form-control" name="apt_unit" id="apt_unit"
                       value="{{apt_unit|string}}"
                       placeholder="رقم المنزل #">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form2" class="btn btn-primary col-2">التالي</button>
        </div>
    </form>
    <div class="back"><a href="/signup/1/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>

</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div class="content">
        <h1 class="center-text">Vous devez mettre vôtre addresse à domicile!</h1>
    </div>
    <form class="second_form" autocomplete="off" method="post" action="/signup/3/{{lang}}">
        <div class="row">
            <div class="form-group col-md-7">
                <input type="text" style="float: right;" class="form-control" name="adresse" id="adresse" value="{{adresse|string}}"
                       placeholder="Adresse rue ,Ville ,Gouvernorat">
            </div>
            <div class="form-group col-md-5">
                <input type="text" style="float: left" class="form-control" name="apt_unit" id="apt_unit" value="{{apt_unit|string}}"
                       placeholder="APT/UNIT #">
            </div>
        </div>
        <div class="row">
            <button type="submit" name="form2" class="btn btn-primary col-2">Suivant</button>
        </div>
    </form>
    <div class="back"><a href="/signup/1/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>

</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function myFunc(vars) {
        return vars
    }

    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items anyClass");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                // if (arr[i].substr(0, val.length).toUpperCase() === val.toUpperCase()) {
                ind = arr[i].toUpperCase().indexOf(val.toUpperCase())
                if (ind >= 0) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    if (ind === 0) {
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                    }
                    else {
                        b.innerHTML =arr[i].substr(0,ind);
                        b.innerHTML += "<strong>" + arr[i].substr(ind, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(ind+val.length);
                        /*insert a input field that will hold the current array item's value:*/
                    }
                    b.innerHTML += "<input type='hidden' value='" + arr[i].replace("'", "&apos;") + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode === 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode === 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode === 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt !== x[i] && elmnt !== inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
    {% if data is defined %}
    var countries = myFunc({{data|tojson}})
    autocomplete(document.getElementById("adresse"), countries);
    {% endif %}
</script>{% endblock %}