{% extends 'sign.html' %}
{% block nbr %}{{ nbr }}{% endblock %}
{% block sidenav %}
{% if lang == "english" %}
<a href="/home/english">Home</a>
<a href="#">About Us</a>
<!--    <a href="#">Claims</a>-->
<a href="#">My account</a>
{% else %}{% if lang =="arabe" %}
<a href="/home/arabe">الرئيسية</a>
<a href="#">معلومات</a>
<!--    <a href="#">مطالب</a>-->
<a href="#">حسابي</a>
{% else %}{% if lang=="french" %}
<a href="/home/french">Acceuil</a>
<a href="#">Informations</a>
<!--    <a href="#">Réclamations</a>-->
<a href="#">Mon compte</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block lang %}
{{lang}}
{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-dark">{{error}}</div>
{% endif %}
{% if lang == "english" %}
<div class="english container-fluid">
    <div class="content">
        <h1 class="center-text">House exterior</h1>
    </div>
    <form class="fifth-form" method="post" action="/signup/9/{{lang}}">
        <div class="row">
            <div  class="form-check col-md-6">
                <label class="form-check-label with_img" for="garden">
                    <picture>
                        <source class="source _1" srcset="/static/images/garden.png">
                        <img style="width: 100px;margin-bottom: 20px;" src="/static/images/garden.png" alt="gardenimage" >
                    </picture>
                    <h2>garden</h2>
                </label>
                <input onchange="hide('1','garden')" type="checkbox" class="form-check-input with-gap" id="garden" value="garden" name="garden">
                <label style="display: none" class="form-check-label without" for="garden">
                    garden
                </label>

            </div>

            <div class="form-check col-md-6">
                <label class="form-check-label with_img" for="pool">
                    <picture>
                        <source class="source _2" srcset="/static/images/pool.png">
                        <img style="width: 120px;" src="/static/images/pool.png" alt="poolimage" >
                    </picture>
                    <h2>pool</h2>
                </label>
                <input onchange="hide('2','pool')" type="checkbox" class="form-check-input with-gap" id="pool" value="pool" name="pool">
                <label style="display: none" class="form-check-label without" for="pool">
                   pool
                </label>

            </div>

        </div>
        <div class="row" >
            <button type="submit" name="form8" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/signup/7/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang =="arabe" %}
<div class="arab container-fluid">
    <div class="content">
        <h1 class="center-text">خارج المنزل</h1>
    </div>
    <form class="fifth-form" method="post" action="/signup/9/{{lang}}">
        <div class="row">
            <div  class="form-check col-md-6">
                <label class="form-check-label with_img" for="garden">
                    <picture>
                        <source class="source _1" srcset="/static/images/garden.png">
                        <img style="width: 100px;margin-bottom: 20px;" src="/static/images/garden.png" alt="gardenimage" >
                    </picture>
                    <h2>جردة</h2>
                </label>
                <label style="display: none" class="form-check-label without" for="garden">
                    جردة
                </label>
                <input onchange="hide('1','garden')" type="checkbox" class="form-check-input with-gap" id="garden" value="garden" name="garden">

            </div>
            <div class="form-check col-md-6">
                <label class="form-check-label with_img" for="pool">
                    <picture>
                        <source class="source _2" srcset="/static/images/pool.png">
                        <img style="width: 120px;" src="/static/images/pool.png" alt="poolimage" >
                    </picture>
                    <h2>حوض سباحة</h2>
                </label>
                <label style="display: none" class="form-check-label without" for="pool">
                    حوض سباحة
                </label>
                <input onchange="hide('2','pool')" type="checkbox" class="form-check-input with-gap" id="pool" value="pool" name="pool">

            </div>
        </div>
        <div class="row" >
            <button type="submit" name="form8" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/signup/7/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% else %}{% if lang=="french" %}
<div class="french container-fluid">
    <div class="content">
        <h1 class="center-text">Exterieur de la maison</h1>
    </div>
    <form class="fifth-form" method="post" action="/signup/9/{{lang}}">
        <div class="row">
            <div  class="form-check col-md-6">
                <label class="form-check-label with_img" for="garden">
                    <picture>
                        <source class="source _1" srcset="/static/images/garden.png">
                        <img style="width: 100px;margin-bottom: 20px;" src="/static/images/garden.png" alt="gardenimage" >
                    </picture>
                    <h2>jardin</h2>
                </label>
                <input onchange="hide('1','garden')" type="checkbox" class="form-check-input with-gap" id="garden" value="garden" name="garden">
                <label style="display: none" class="form-check-label without" for="garden">
                    jardin
                </label>

            </div>
            <div class="form-check col-md-6">
                <label class="form-check-label with_img" for="pool">
                    <picture>
                        <source class="source _2" srcset="/static/images/pool.png">
                        <img style="width: 120px;" src="/static/images/pool.png" alt="poolmage" >
                    </picture>
                    <h2>piscine</h2>
                </label>
                <input onchange="hide('2','pool')" type="checkbox" class="form-check-input with-gap" id="pool" value="pool" name="pool">
                <label style="display: none" class="form-check-label without" for="pool">
                    piscine
                </label>

            </div>
        </div>
        <div class="row" >
            <button type="submit" name="form8" class="btn btn-primary col-2">Next</button>
        </div>
    </form>
    <div class="back"><a href="/signup/7/{{lang}}"><img id="back-arrow" src="/static/images/back.png" alt=""></a></div>
</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
{% block scripts %}
<script>
    function hide(x,y) {
        var subs=document.querySelector("._"+x);
        var check=document.querySelector("#"+y)
        console.log(subs.attributes[1].value)
        if (check.checked){
            subs.attributes[1].value=subs.attributes[1].value.replace(".png","")+"-colored"+".png";
        }
        if (!check.checked) {
            subs.attributes[1].value=subs.attributes[1].value.replace("-colored","");
        }
    }
</script>
{% endblock %}